<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="~{usr/infra/include/head :: head}"></div>
</head>

<body>

	<div id="preloader">
		<div class="sk-spinner sk-spinner-wave">
			<div class="sk-rect1"></div>
			<div class="sk-rect2"></div>
			<div class="sk-rect3"></div>
			<div class="sk-rect4"></div>
			<div class="sk-rect5"></div>
		</div>
	</div>
	<!-- End Preload -->

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<!-- Header================================================== -->
	<header>
         <div th:replace="~{usr/infra/include/header :: header}"></div>
    </header>
	<!-- End Header -->

	<section id="hero_2" class="background-image" data-background="url(/usr/assets/img/slide_hero_2.jpg)">
        <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
    		<div class="intro_title">
    			<h1>주문</h1>
    			<div class="bs-wizard row">

    				<div class="col-4 bs-wizard-step complete">
    					<div class="text-center bs-wizard-stepnum">Your cart</div>
    					<div class="progress">
    						<div class="progress-bar"></div>
    					</div>
    					<a href="cart_hotel.html" class="bs-wizard-dot"></a>
    				</div>

    				<div class="col-4 bs-wizard-step active">
    					<div class="text-center bs-wizard-stepnum">Your details</div>
    					<div class="progress">
    						<div class="progress-bar"></div>
    					</div>
    					<a href="#" class="bs-wizard-dot"></a>
    				</div>

    				<div class="col-4 bs-wizard-step disabled">
    					<div class="text-center bs-wizard-stepnum">Finish!</div>
    					<div class="progress">
    						<div class="progress-bar"></div>
    					</div>
    					<a href="confirmation_hotel.html" class="bs-wizard-dot"></a>
    				</div>

    			</div>
    			<!-- End bs-wizard -->
    		</div>
    		<!-- End intro-title -->
        </div>
        <!-- End opacity-mask-->
	</section>
	<!-- End Section hero_2 -->
	
	<main>
		<div id="position">
			<div class="container">
				<ul>
					<li><a href="#">Home</a>
					</li>
					<li><a href="#">Category</a>
					</li>
					<li>Page active</li>
				</ul>
			</div>
		</div>
		<!-- End position -->
		<form method="post">
		<div class="container margin_60">
			<div class="row">
				<div class="col-lg-8 add_bottom_15">
					<div class="form_title">
						<h3><strong>1</strong>예약자 정보</h3>
						<input type="hidden" id="bookingSeq" name="bookingSeq" th:value="${item.bookingSeq}">
					</div>
					<div class="step">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>이름</label>
									<input type="text" class="form-control" id="lastname_booking" name="lastname_booking" placeholder="홍길동">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>전화번호</label>
									<input type="text" id="telephone_booking" name="telephone_booking" class="form-control" placeholder="010-1234-5678"> 
								</div>
							</div>							
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>생년월일</label>
									<input type="text" id="birthday_booking" name="birthday_booking" class="form-control" placeholder="19970923"> 
								</div>
							</div>							
						</div>
					</div>
					<!--End step -->

					<div class="form_title">
						<h3><strong>2</strong>결제 정보</h3>
						<p>
							
						</p>
					</div>
					<div class="step">
						<div class="form-group">
							<p>결제수단</p>
							<button type="button" class="btn btn-secondary">신용/체크 결제</button>
							<button type="button" class="btn btn-secondary">휴대폰 결제</button>
							<button type="button" class="btn btn-secondary">카카오페이</button>

						</div>
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>카드 번호</label>
									<input type="text" id="card_number" name="card_number" class="form-control">
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<img src="/usr/assets/img/cards.png" width="207" height="43" alt="Cards" class="cards">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>카드 유효기간</label>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" id="expire_month" name="expire_month" class="form-control" placeholder="MM">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" id="expire_year" name="expire_year" class="form-control" placeholder="Year">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>CCV 번호</label>
									<div class="row">
										<div class="col-4">
											<div class="form-group">
												<input type="text" id="ccv" name="ccv" class="form-control" placeholder="CCV">
											</div>
										</div>
										<div class="col-8">
											<img src="/usr/assets/img/icon_ccv.gif" width="50" height="29" alt="ccv"><small>Last 3 digits</small>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--End row -->

						<hr>

						
					</div>
					<!--End step -->

		

					 	
				</div>

				<aside class="col-lg-4">
					<div class="box_style_1">
						<h3 class="inner">- 에약 정보 -</h3>
						<table class="table table_summary">
							<tbody>
								<tr>
									<td>
										체크인
									</td>
									<td class="text-end">
										10 April 2015
									</td>
								</tr>
								<tr>
									<td>
										체크아웃
									</td>
									<td class="text-end">
										12 April 2015
									</td>
								</tr>
								<tr>
									<td>
										객실
									</td>
									<td class="text-end">
										1 double room
									</td>
								</tr>
								
								<tr>
									<td>
										성인
									</td>
									<td class="text-end" >
										2
									</td>
								</tr>
								<tr>
									<td>
										아이
									</td>
									<td class="text-end" >
										0
									</td>
								</tr>
								
								<tr class="total">
									<td>
										총 가격
									</td>
									<td class="text-end" >
										$154
									</td>
								</tr>
							</tbody>
						</table>
						<a class="btn_full" th:href="@{/bookinginfo(memberSeq=${item.memberSeqF})}">예약</a>
<!-- 						<a class="btn_full_outline" th:href="@{/roomDetail(roomSeq=${item.roomSeq})}"><i class="icon-right"></i> 뒤로가기</a> -->
					</div>
					
				</aside>

			</div>
			<!--End row -->
		</div>
		</form>
		<!--End container -->
	</main>
	<!-- End main -->

	<!-- footer -->
	<div th:replace="~{usr/infra/include/footer :: footer}"></div>

	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="text" placeholder="Search..." />
			<button type="submit"><i class="icon_set_1_icon-78"></i>
			</button>
		</form>
	</div><!-- End Search Menu -->
	

	<!-- Common scripts -->
	<script src="/usr/assets/js/jquery-3.7.1.min.js"></script>
	<script src="/usr/assets/js/common_scripts_min.js"></script>
	<script src="/usr/assets/js/functions.js"></script>

</body>

</html>