<!DOCTYPE html>
<html lang="ko"xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{usr/infra/include/head :: head}"></div>
</head>

<body>

	<div id="preloader">
		<div class="sk-spinner sk-spinner-wave">
			<div class="sk-rect1"></div>
			<div class="sk-rect2"></div>
			<div class="sk-rect3"></div>
			<div class="sk-rect4"></div>
			<div class="sk-rect5"></div>
		</div>
	</div>
	<!-- End Preload -->

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<!-- Header================================================== -->
	<header>
         <div th:replace="~{usr/infra/include/header :: header}"></div>
    </header><!-- End Header -->
	<!-- End Header -->

	<section class="parallax-window" data-parallax="scroll" data-image-src="/usr/assets/img/hotels_bg.jpg" data-natural-width="1400" data-natural-height="470">
		<div class="parallax-content-1 opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
			<div class="animated fadeInDown">
				<h1>숙소</h1>
				<p></p>
			</div>
		</div>
	</section>
	<!-- End section -->

	<main>
	<form name="formList" id="formList" method="get" autocomplete="off">
	<input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>

	<!-- 체크박스 배열  호텔유형-->
	<input type="hidden" id="shCheckboxHotelTypeArray" name="shCheckboxHotelTypeArray">

	<!-- 체크박스 배열 지역 -->
	<input type="hidden" id="shCheckboxAreaArray" name="shCheckboxAreaArray">
		
		<div id="position">
			<div class="container">
				<ul>
					<li><a href="#">홈</a>
					</li>
					<li><a href="#">호텔</a>
					</li>
					<li>호텔 리스트</li>
				</ul>
			</div>
		</div>
		<!-- Position -->

		<div class="collapse" id="collapseMap">
			<div id="map" class="map"></div>
		</div>
		<!-- End Map -->

		<div class="container margin_60">

			<div class="row">
				<aside class="col-lg-3">
					<p>
						<a class="btn_map" data-bs-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">위치</a>
					</p>

					<div id="filters_col" >
						<a data-bs-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt"><i class="icon_set_1_icon-65"></i>필터</a>
						<div class="collapse show" id="collapseFilters">
							<div class="filter_type">
								<h6>가격</h6>
								<input type="text" id="range" name="range" value="">
							</div>
							<div class="filter_type">
								<h6>숙소 유형</h6>
								<ul>
								<th:block th:each="list : ${@codeService.selectListCachedCode(3)}">
									 <li>
                                        <label class="container_check">
                                            <input th:if="${vo.shCheckboxHotelTypeArray != null}" th:id="'checkboxHtel'+${list.cdSeq}" name="checkboxHotelSeq" type="checkbox" th:value="${list.cdSeq}"
		                                     th:checked="${#arrays.contains(vo.shCheckboxHotelTypeArray, list.cdSeq)}" th:text="${list.name}"
		                                     onclick="checkboxClick()"/>
		                                     <input th:unless="${vo.shCheckboxHotelTypeArray != null}" th:id="'checkboxHotel'+${list.cdSeq}" name="checkboxHotelSeq" type="checkbox" th:value="${list.cdSeq}"
		                                        onclick="checkboxClick()"/>
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
								</ul>
							</div>
							<div class="filter_type">
								<h6>객실 내 시설</h6>
								<ul>
                                    <li>
                                        <label class="container_check">
                                             TV
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">
                                             와이파이
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">
                                             수영장
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">
                                             욕실용품
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">
                                             욕조
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">
                                             에어컨
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
								</ul>
							</div>
							<div class="filter_type">
								<h6>지역</h6>
								<ul>
								<th:block th:each="list : ${@codeService.selectListCachedCode(4)}">
									 <li>
                                        <label class="container_check">
                                            <input th:if="${vo.shCheckboxAreaArray != null}" th:id="'checkboxArea'+${list.cdSeq}" name="checkboxAreaSeq" type="checkbox" th:value="${list.cdSeq}"
		                                     th:checked="${#arrays.contains(vo.shCheckboxAreaArray, list.cdSeq)}" th:text="${list.name}"
		                                     onclick="checkboxClick()"/>
		                                     <input th:unless="${vo.shCheckboxAreaArray != null}" th:id="'checkboxArea'+${list.cdSeq}" name="checkboxAreaSeq" type="checkbox" th:value="${list.cdSeq}"
		                                        onclick="checkboxClick()"/>
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
								</ul>
							</div>
						<!--End collapse -->
					</div>
					</div>
					<!--End filters col-->
					<div class="box_style_2 d-none d-sm-block">
						<i class="icon_set_1_icon-57"></i>
						<h4> <span>고객센터</span></h4>
						<a href="tel://004542344599" class="phone">1234-5678</a>
						<small>오전9시-새벽2시 운영</small>
					</div>
				</aside>
				<!--End aside -->

				<div class="col-lg-9" >

					<div id="tools">
						<div class="row justify-content-between">
								<div class="col gx-5">
									<strong>Total :</strong> 
									<label class="form-label" th:text="${count}"></label>
								</div>
							
							<div class="col-md-6 col-sm-4 d-none d-sm-block text-end">
								<a class="bt_filters"><i class=" icon-list"></i></a>
							</div>
						</div>
					<!--End tools -->
					
					<!-- 리스트 화면 -->
					<div class="strip_all_tour_list wow fadeIn" th:if="${#lists.isEmpty(List)}" th:each="list : ${list}">
						<div class="row" >
							<div class="col-lg-4 col-md-4 position-relative">
								<div class="img_list" >
									<a th:href="@{/roomDetail(roomSeq=${list.roomSeq})}"><img src="/usr/assets/img/hotel_1.jpg" alt="Image">
										<div class="short_info"></div>
									</a>
<!-- 									<a th:href="@{/roomDetail(roomSeq=${list.roomSeq})}"><img th:src="${imglist.path}" alt="Image"> -->
<!-- 										<div class="short_info"></div> -->
<!-- 									</a> -->
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="tour_list_desc">
									<!-- 호텔 평점 -->
									<span class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class=" icon-star-empty"></i></span>
									<div class="score">평점<span th:text="${list.roomTotalRating}"></span>
									</div>
									<div class="rating" th:text="${list.hotelRating}"><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i>
									</div>
									<!-- 호텔이름 -->
									<h3 th:text="${list.hotelName}"></h3>
									<!-- 호텔 소개 -->
									<p th:text="${list.hotelContent}"></p>
									<ul class="add_info">
										<li>
											<a href="javascript:void(0);" id="tvNy" name="tvNy" class="tooltip-1" data-bs-placement="top" title="무료 와이파이"><i class="icon_set_1_icon-86"></i></a>
										</li>
										<li>
											<a href="javascript:void(0);" class="tooltip-1" data-bs-placement="top" title="TV"><i class="icon_set_2_icon-116"></i></a>
										</li>
										<li>
											<a href="javascript:void(0);" class="tooltip-1" data-bs-placement="top" title="수영장"><i class="icon_set_2_icon-110"></i></a>
										</li>
										
										<li>
											<a href="javascript:void(0);" class="tooltip-1" data-bs-placement="top" title="욕실용품"><i class="icon_set_2_icon-103"></i></a>
										</li>
									</ul> 
								</div>
							</div>
							<div class="col-lg-2 col-md-2">
								<div class="price_list">
									<div><sup th:text="${#numbers.formatInteger(list.roomPrice,1,'COMMA')} + '원'" ></sup><span class="normal_price_list"></span><small></small>
										<p><a th:href="@{/roomDetail(roomSeq=${list.roomSeq})}" class="btn_1">상세정보</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--End strip -->
				</div>
					<nav aria-label="Page navigation">
						<ul class="pagination justify-content-center">
						<!-- 리스트만 나오게 페이징 -->
							 <input th:if="${vo.hotelTypeCD != null}" type="hidden" name="hotelTypeCD" th:value="${vo.hotelTypeCD}">
                             <input th:if="${vo.areaCD != null}" type="hidden" name="areaCD" th:value="${vo.areaCD}">
							<li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item" style="cursor: pointer;"><a class="page-link" href="javascript:goList(${vo.startPage - 1})" th:attr="onclick=|goList('${vo.startPage - 1}')|"><i class="fa-solid fa-angle-left"></i></a></li>
							<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" th:classappend="${num eq vo.thisPage} ? active : ''" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"><!-- ${i.index} --></a></li>
							<li th:if="${vo.endPage ne vo.totalPages}" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|"><i class="fa-solid fa-angle-right"></i></a></li>
						</ul>
					</nav>
					<!-- end pagination-->

<!-- 				</div> -->
				<!-- End col lg-9 -->
			</div>
			<!-- End row -->
		</div>
		</div>
		<!-- End container -->
		</form>
	</main>
	<!-- End main -->
	
	<!-- footer 블록 -->
	<footer class="revealed" th:replace="~{usr/infra/include/footer :: footer}">
		    
    </footer>

	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="text" placeholder="Search..." />
			<button type="submit"><i class="icon_set_1_icon-78"></i>
			</button>
		</form>
	</div><!-- End Search Menu -->
	

	<!-- Common scripts -->
	<script src="/usr/assets/js/jquery-3.7.1.min.js"></script>
	<script src="/usr/assets/js/common_scripts_min.js"></script>
	<script src="/usr/assets/js/functions.js"></script>

	<!-- Map -->
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script src="/usr/assets/js/map_hotels.js"></script>
	<script src="/usr/assets/js/infobox.js"></script>
	
	<script> 

		let goUrUsrHotelList = "/hotelList";
		let goUrlUsrHotel = "[[@{/hotelList(HotelTypeCD=${vo.HotelTypeCD})}]]";
		
		goList = function (thisPage) {
		    document.querySelector("input[name=thisPage]").value = thisPage;
		    form.action = goUrlUsrHotel;
		    form.submit();
		}


	let form = document.querySelector("form[name=formList]");		/* ### */
			
 	</script>
 	
 	
 	<script type="text/javascript">
		document.getElementById("buttonSignout").onclick = function () {
// 			alert("qqqqqqqqqq");
// 			if(validation() == false) return false;
			
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				/* ,dataType:"json" */
				,url: "/signoutUsr"
				/* ,data : $("#formLogin").serialize() */
				,data : { "memberID" : $("#memberID").val(), "memberPassword" : $("#memberPassword").val()}
				,success: function(response) {
// 					alert("확인");
					if(response.rt == "success") {
// 						alert("sssssss");
						location.href = "/usrIndex";

					}  
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		}
			
		</script>
		
		<script type="text/javascript">
		let goUrlHotel = "/hotelList";
		
		
		checkboxClick = function() {	
			// 체크된 항목 저장 변수
			let checkboxHotelTypeCheckedArray  = []; // 호텔 유형
			let checkboxAreaCheckedArray = []; // 지역
			
			// 호텔유형 체크박스 항목 수 만큼 배열선언
			let checkboxHotelTypeArr = document.querySelectorAll("input[name='checkboxHotelSeq']");
			for(let i = 0; i < checkboxHotelTypeArr.length; i++) {
				if(checkboxHotelTypeArr[i].checked) checkboxHotelTypeCheckedArray.push(checkboxHotelTypeArr[i].value);
			}
			alert(checkboxHotelTypeCheckedArray);
			document.querySelector("input[name='shCheckboxHotelTypeArray']").value = checkboxHotelTypeCheckedArray;
			
			//지역유형 체크박스 항목 수 만큼 배열선언
			let checkboxAreaArr = document.querySelectorAll("input[name='checkboxAreaSeq']");
			for(let i = 0; i < checkboxAreaArr.length; i++) {
				if(checkboxAreaArr[i].checked) checkboxAreaCheckedArray.push(checkboxAreaArr[i].value);
			}
			alert(checkboxAreaCheckedArray);
			document.querySelector("input[name='shCheckboxAreaArray']").value = checkboxAreaCheckedArray;
			
						
			form.action = goUrlHotel;
			form.submit();
		}
		
		
		</script>
</body>

</html>