<!DOCTYPE html>
<html lang="ko"xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{usr/infra/include/head :: head}"></div>
</head>

<body class="datepicker_mobile_full"> <!-- Remove this class to disable datepicker full on mobile -->

	<div id="preloader">
		<div class="sk-spinner sk-spinner-wave">
			<div class="sk-rect1"></div>
			<div class="sk-rect2"></div>
			<div class="sk-rect3"></div>
			<div class="sk-rect4"></div>
			<div class="sk-rect5"></div>
		</div>
	</div>
	<!-- End Preload -->

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<!-- Header================================================== -->
	<header>
         <div th:replace="~{usr/infra/include/header :: header}"></div>
    </header>
	<!-- End Header -->

	<section class="parallax-window" data-parallax="scroll" data-image-src="/usr/assets/img/single_hotel_bg_1.jpg" data-natural-width="1400" data-natural-height="470">
		<div class="parallax-content-2">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<span class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class=" icon-star-empty"></i></span>
						<h1 th:text="${item.roomName}"></h1>
					</div>
					<div class="col-md-4">
						<div id="price_single_main" class="hotel">
						 <span><sup>가격 : [[${#numbers.formatInteger(item.roomPrice,1,"COMMA")}]]원</sup></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End section -->

	<main>
		<div id="position">
			<div class="container">
				<ul>
					<li><a href="#">홈</a>
					</li>
					<li><a href="#">호텔</a>
					</li>
					<li>호텔 상세정보</li>
				</ul>
			</div>	
		</div>
		<!-- End Position -->

		<div class="collapse" id="collapseMap">
			<div id="map" class="map"></div>
		</div>
		<!-- End Map -->

		<div class="container margin_60">
			<div class="row">
				<div class="col-lg-8" id="single_tour_desc">
					<div id="single_tour_feat">
						<ul>
							<li th:value="${item.tvNy}"><i class="icon_set_2_icon-116"></i>TV</li>
							<li th:value="${item.wifiNy}"><i class="icon_set_1_icon-86"></i>와이파이</li>
							<li th:value="${item.poolNy}"><i class="icon_set_2_icon-110"></i>수영장</li>
							<li th:value="${item.bathSuppliesNy}"><i class="icon_set_2_icon-103"></i>욕실용품</li>
							<li th:value="${item.bathNy}"><i class=" icon_set_2_icon-111"></i>욕조</li>
							<li th:value="${item.airNy}"><i class=" icon-air"></i>에어컨</li>
						</ul>
					</div>
					<p class="d-block d-lg-none"><a class="btn_map" data-bs-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on map</a>
					</p>
					<!-- Map button for tablets/mobiles -->
					<div id="Img_carousel" class="slider-pro">
						<div class="sp-slides">

							<div class="sp-slide">
								<img alt="Image" class="sp-image" src="/usr/assets/css/images/blank.gif" data-src="/usr/assets/img/slider_single_tour/1_medium.jpg" data-small="/usr/assets/img/slider_single_tour/1_small.jpg" data-medium="/usr/assets/img/slider_single_tour/1_medium.jpg" data-large="/usr/assets/img/slider_single_tour/1_large.jpg" data-retina="/usr/assets/img/slider_single_tour/1_large.jpg">
							</div>
							<div class="sp-slide">
								<img alt="Image" class="sp-image" src="/usr/assets/css/images/blank.gif" data-src="/usr/assets/img/slider_single_tour/2_medium.jpg" data-small="/usr/assets/img/slider_single_tour/2_small.jpg" data-medium="/usr/assets/img/slider_single_tour/2_medium.jpg" data-large="/usr/assets/img/slider_single_tour/2_large.jpg" data-retina="/usr/assets/img/slider_single_tour/2_large.jpg">
							</div>

							<div class="sp-slide">
								<img alt="Image" class="sp-image" src="/usr/assets/css/images/blank.gif" data-src="/usr/assets/img/slider_single_tour/3_medium.jpg" data-small="/usr/assets/img/slider_single_tour/3_small.jpg" data-medium="/usr/assets/img/slider_single_tour/3_medium.jpg" data-large="/usr/assets/img/slider_single_tour/3_large.jpg" data-retina="/usr/assets/img/slider_single_tour/3_large.jpg">
							</div>

							<div class="sp-slide">
								<img alt="Image" class="sp-image" src="/usr/assets/css/images/blank.gif" data-src="/usr/assets/img/slider_single_tour/4_medium.jpg" data-small="/usr/assets/img/slider_single_tour/4_small.jpg" data-medium="/usr/assets/img/slider_single_tour/4_medium.jpg" data-large="/usr/assets/img/slider_single_tour/4_large.jpg" data-retina="/usr/assets/img/slider_single_tour/4_large.jpg">
							</div>

							<div class="sp-slide">
								<img alt="Image" class="sp-image" src="/usr/assets/css/images/blank.gif" data-src="/usr/assets/img/slider_single_tour/5_medium.jpg" data-small="/usr/assets/img/slider_single_tour/5_small.jpg" data-medium="/usr/assets/img/slider_single_tour/5_medium.jpg" data-large="/usr/assets/img/slider_single_tour/5_large.jpg" data-retina="/usr/assets/img/slider_single_tour/5_large.jpg">
							</div>

							<div class="sp-slide">
								<img alt="Image" class="sp-image" src="/usr/assets/css/images/blank.gif" data-src="/usr/assets/img/slider_single_tour/6_medium.jpg" data-small="/usr/assets/img/slider_single_tour/6_small.jpg" data-medium="/usr/assets/img/slider_single_tour/6_medium.jpg" data-large="/usr/assets/img/slider_single_tour/6_large.jpg" data-retina="/usr/assets/img/slider_single_tour/6_large.jpg">
							</div>

							<div class="sp-slide">
								<img alt="Image" class="sp-image" src="/usr/assets/css/images/blank.gif" data-src="/usr/assets/img/slider_single_tour/7_medium.jpg" data-small="/usr/assets/img/slider_single_tour/7_small.jpg" data-medium="/usr/assets/img/slider_single_tour/7_medium.jpg" data-large="/usr/assets/img/slider_single_tour/7_large.jpg" data-retina="/usr/assets/img/slider_single_tour/7_large.jpg">
							</div>

							<div class="sp-slide">
								<img alt="Image" class="sp-image" src="/usr/assets/css/images/blank.gif" data-src="/usr/assets/img/slider_single_tour/8_medium.jpg" data-small="/usr/assets/img/slider_single_tour/8_small.jpg" data-medium="/usr/assets/img/slider_single_tour/8_medium.jpg" data-large="/usr/assets/img/slider_single_tour/8_large.jpg" data-retina="/usr/assets/img/slider_single_tour/8_large.jpg">
							</div>

							<div class="sp-slide">
								<img alt="Image" class="sp-image" src="/usr/assets/css/images/blank.gif" data-src="/usr/assets/img/slider_single_tour/9_medium.jpg" data-small="/usr/assets/img/slider_single_tour/9_small.jpg" data-medium="/usr/assets/img/slider_single_tour/9_medium.jpg" data-large="/usr/assets/img/slider_single_tour/9_large.jpg" data-retina="/usr/assets/img/slider_single_tour/9_large.jpg">
							</div>
						</div>
						<div class="sp-thumbnails">
							<img alt="Image" class="sp-thumbnail" src="/usr/assets/img/slider_single_tour/1_medium.jpg">
							<img alt="Image" class="sp-thumbnail" src="/usr/assets/img/slider_single_tour/2_medium.jpg">
							<img alt="Image" class="sp-thumbnail" src="/usr/assets/img/slider_single_tour/3_medium.jpg">
							<img alt="Image" class="sp-thumbnail" src="/usr/assets/img/slider_single_tour/4_medium.jpg">
							<img alt="Image" class="sp-thumbnail" src="/usr/assets/img/slider_single_tour/5_medium.jpg">
							<img alt="Image" class="sp-thumbnail" src="/usr/assets/img/slider_single_tour/6_medium.jpg">
							<img alt="Image" class="sp-thumbnail" src="/usr/assets/img/slider_single_tour/7_medium.jpg">
							<img alt="Image" class="sp-thumbnail" src="/usr/assets/img/slider_single_tour/8_medium.jpg">
							<img alt="Image" class="sp-thumbnail" src="/usr/assets/img/slider_single_tour/9_medium.jpg">
						</div>
					</div>

					<hr>

					<div class="row">
						<div class="col-lg-3">
							<h3>객실 소개</h3>
						</div>
						<div class="col-lg-9">
							<p th:text="${item.roomContent}">
							</p>
							<h4>객실 이용 정보</h4>
							<p>
							</p>
							<div class="row">
								<div class="col-md-6">
									<ul class="list_ok">
										<li th:utext="${item.roominfo != null ? item.roominfo.replaceAll('\n','<br>') : ''}"></li>
									</ul>
								</div>
								
							</div>
							<!-- End row  -->
						</div>
						<!-- End col-md-9  -->
					</div>
					<!-- End row  -->

					<hr>

					<div class="row">
						<div class="col-lg-3">
							<h3>객실 유형</h3>
						</div>
						<div class="col-lg-9">
							<h4 th:if="${item.roomTypeCD!= null}"th:text="${@codeService.selectOneCachedCode(16)}"class="roomTypeCD align-middle"></h4>
							<h4  th:unless="${item.roomTypeCD != null}"class="roomTypeCD align-middle">></h4>

							<div class="row">
								<p>객실 내 시설</p>
								<div class="col-md-6">
									<ul class="list_icons">
										<li th:value="${item.wifiNy}"><i class="icon_set_1_icon-86"></i> 와이파이</li>
										<li th:value="${item.tvNy}"><i class="icon_set_2_icon-116"></i> TV</li>
										<li th:value="${item.airNy}"><i class=" icon-air"></i>에어컨</li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul class="list_icons">
										<li th:value="${item.poolNy}"><i class="icon_set_2_icon-110"></i>수영장</li>
										<li th:value="${item.bathSuppliesNy}"><i class="icon_set_2_icon-103"></i>욕실용품</li>
										<li th:value="${item.bathNy}"><i class=" icon_set_2_icon-111"></i>욕조</li>
										
									</ul>
								</div>
							</div>
							<!-- End row  -->
							<div class="owl-carousel owl-theme carousel-thumbs-2 magnific-gallery">
								<div class="item">
									<a href="/usr/assets/img/carousel/1.jpg" data-effect="mfp-zoom-in"><img src="/usr/assets/img/carousel/1.jpg" alt="Image">
									</a>
								</div>
								<div class="item">
									<a href="/usr/assets/img/carousel/2.jpg" data-effect="mfp-zoom-in"><img src="/usr/assets/img/carousel/2.jpg" alt="Image">
									</a>
								</div>
								<div class="item">
									<a href="/usr/assets/img/carousel/3.jpg" data-effect="mfp-zoom-in"><img src="/usr/assets/img/carousel/3.jpg" alt="Image">
									</a>
								</div>
								<div class="item">
									<a href="/usr/assets/img/carousel/4.jpg" data-effect="mfp-zoom-in"><img src="/usr/assets/img/carousel/4.jpg" alt="Image">
									</a>
								</div>
							</div>
							<!-- End photo carousel  -->

							<hr>

							<h4 th:if="${item.roomTypeCD!= null}"th:text="${@codeService.selectOneCachedCode(17)}"class="roomTypeCD align-middle"></h4>
							<h4  th:unless="${item.roomTypeCD != null}"class="roomTypeCD align-middle">></h4>

							<div class="row">
								<p>객실 내 시설</p>
								<div class="col-md-6">
									<ul class="list_icons">
										<li th:value="${item.wifiNy}"><i class="icon_set_1_icon-86"></i> 와이파이</li>
										<li th:value="${item.tvNy}"><i class="icon_set_2_icon-116"></i> TV</li>
										<li th:value="${item.airNy}"><i class=" icon-air"></i>에어컨</li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul class="list_icons">
										<li th:value="${item.poolNy}"><i class="icon_set_2_icon-110"></i>수영장</li>
										<li th:value="${item.bathSuppliesNy}"><i class="icon_set_2_icon-103"></i>욕실용품</li>
										<li th:value="${item.bathNy}"><i class=" icon_set_2_icon-111"></i>욕조</li>
										
									</ul>
								</div>
							</div>
							<!-- End row  -->
							<div class="owl-carousel owl-theme carousel-thumbs-2 magnific-gallery">
								<div class="item">
									<a href="/usr/assets/img/carousel/1.jpg" data-effect="mfp-zoom-in"><img src="/usr/assets/img/carousel/1.jpg" alt="Image">
									</a>
								</div>
								<div class="item">
									<a href="/usr/assets/img/carousel/2.jpg" data-effect="mfp-zoom-in"><img src="/usr/assets/img/carousel/2.jpg" alt="Image">
									</a>
								</div>
								<div class="item">
									<a href="/usr/assets/img/carousel/3.jpg" data-effect="mfp-zoom-in"><img src="/usr/assets/img/carousel/3.jpg" alt="Image">
									</a>
								</div>
								<div class="item">
									<a href="/usr/assets/img/carousel/4.jpg" data-effect="mfp-zoom-in"><img src="/usr/assets/img/carousel/4.jpg" alt="Image">
									</a>
								</div>
							</div>
							<!-- End photo carousel  -->
							
							<hr>
							
							<h4 th:if="${item.roomTypeCD!= null}"th:text="${@codeService.selectOneCachedCode(18)}"class="roomTypeCD align-middle"></h4>
							<h4  th:unless="${item.roomTypeCD != null}"class="roomTypeCD align-middle">></h4>

							<div class="row">
								<p>객실 내 시설</p>
								<div class="col-md-6">
									<ul class="list_icons">
										<li th:value="${item.wifiNy}"><i class="icon_set_1_icon-86"></i> 와이파이</li>
										<li th:value="${item.tvNy}"><i class="icon_set_2_icon-116"></i> TV</li>
										<li th:value="${item.airNy}"><i class=" icon-air"></i>에어컨</li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul class="list_icons">
										<li th:value="${item.poolNy}"><i class="icon_set_2_icon-110"></i>수영장</li>
										<li th:value="${item.bathSuppliesNy}"><i class="icon_set_2_icon-103"></i>욕실용품</li>
										<li th:value="${item.bathNy}"><i class=" icon_set_2_icon-111"></i>욕조</li>
										
									</ul>
								</div>
							</div>
							<!-- End row  -->
							<div class="owl-carousel owl-theme carousel-thumbs-2 magnific-gallery">
								<div class="item">
									<a href="/usr/assets/img/carousel/1.jpg" data-effect="mfp-zoom-in"><img src="/usr/assets/img/carousel/1.jpg" alt="Image">
									</a>
								</div>
								<div class="item">
									<a href="/usr/assets/img/carousel/2.jpg" data-effect="mfp-zoom-in"><img src="/usr/assets/img/carousel/2.jpg" alt="Image">
									</a>
								</div>
								<div class="item">
									<a href="/usr/assets/img/carousel/3.jpg" data-effect="mfp-zoom-in"><img src="/usr/assets/img/carousel/3.jpg" alt="Image">
									</a>
								</div>
								<div class="item">
									<a href="/usr/assets/img/carousel/4.jpg" data-effect="mfp-zoom-in"><img src="/usr/assets/img/carousel/4.jpg" alt="Image">
									</a>
								</div>
							</div>
						</div>
						<!-- End col-md-9  -->
					</div>
					<!-- End row  -->

					<hr>

					<div class="row">
						<div class="col-lg-3">
							<h3>리뷰</h3>
							<a href="#" class="btn_1 add_bottom_30" data-bs-toggle="modal" data-bs-target="#myReview">리뷰 작성</a>
						</div>
						<div class="col-lg-9">
							<div id="score_detail"><span>4.5</span>평점 <small>Total: [[${count}]]</small>
							</div>
							<!-- End general_rating -->
							<div class="row" id="rating_summary">
								<div class="col-md-6">
									<ul>
										<li>청결
											<div class="rating">
												<span><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star-empty"></i></span>
											</div>
										</li>
										<li>편안함
											<div class="rating">
												<span><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star-empty"></i></span>
											</div>
										</li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul>
										<li>가격
											<div class="rating">
												<span><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star-empty"></i></span>
											</div>
										</li>
										<li>퀄리티
											<div class="rating">
												<span><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star-empty"></i></span>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<!-- End row -->
							<hr>
							<div class="review_strip_single" th:if="${#lists.isEmpty(List)}" th:each="list : ${list}">
								<small th:text="${#dates.format(list.reRegDate, 'yyyy-MM-dd HH:mm:ss')}"></small>
								<h4 th:text="${list.memberNickName}"></h4>
								<div class="row" id="rating_summary">
								<p th:text=${list.reviewContent}></p>
								<div class="col-md-6">
									<ul>
										<li>청결
											<div class="rating">
												<span th:if="${list.cleanRating == 5}"><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i></span>
												<span th:if="${list.cleanRating == 4}"><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star-empty"></i></span>
												<span th:if="${list.cleanRating == 3}"><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span>
												<span th:if="${list.cleanRating == 2}"><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span>
												<span th:if="${list.cleanRating == 1}"><i class="icon-star voted"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span>
												<span th:if="${list.cleanRating == 0}"><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span>
											</div>
										</li>
										<li>편안함
											<div class="rating">
												<span th:if="${list.comfortRating == 5}"><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i></span>
												<span th:if="${list.comfortRating == 4}"><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star-empty"></i></span>
												<span th:if="${list.comfortRating == 3}"><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span>
												<span th:if="${list.comfortRating == 2}"><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span>
												<span th:if="${list.comfortRating == 1}"><i class="icon-star voted"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span>
												<span th:if="${list.comfortRating == 0}"><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span>
											</div>
										</li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul>
										<li>가격
											<div class="rating">
												<span th:if="${list.priceRating == 5}"><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i></span>
												<span th:if="${list.priceRating == 4}"><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star-empty"></i></span>
												<span th:if="${list.priceRating == 3}"><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span>
												<span th:if="${list.priceRating == 2}"><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span>
												<span th:if="${list.priceRating == 1}"><i class="icon-star voted"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span>
												<span th:if="${list.priceRating == 0}"><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span>
											</div>
										</li>
										<li>퀄리티
											<div class="rating">
												<span th:if="${list.qualityRating == 5}"><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i></span>
												<span th:if="${list.qualityRating == 4}"><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star-empty"></i></span>
												<span th:if="${list.qualityRating == 3}"><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span>
												<span th:if="${list.qualityRating == 2}"><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span>
												<span th:if="${list.qualityRating == 1}"><i class="icon-star voted"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span>
												<span th:if="${list.qualityRating == 0}"><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span>
											</div>
										</li>
									</ul>
								</div>
							</div>
							</div>
							<!-- End review strip -->
						</div>
					</div>
				</div>
				<!--End  single_tour_desc-->

				<aside class="col-lg-4">
					<p class="d-block d-lg-none">
						<a class="btn_map" data-bs-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on map</a>
					</p>
					<form method="post" action="bookingInsert">
					<input name="roomSeqF" id="roomSeqF" type="hidden" th:value="${item.roomSeqF}">
					<input type="hidden" id="hotelList_seq" name="hotelList_seq" th:value="${item.hotelList_seq}">
					<div class="box_style_1 expose">
						<h3 class="inner">예약</h3>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label><i class="icon-calendar-7"></i> 체크인</label>
									<input class="date-pick form-control" type="text" placeholder="Select dates" id="bkCheckIn" name="bkCheckIn">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label><i class="icon-calendar-7"></i> 체크아웃</label>
									<input class="date-pick form-control" type="text" placeholder="Select dates" id="bkCheckOut" name="bkCheckOut">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<div class="form-group">
									<label>성인</label>
									<div class="numbers-row" id="adult">
										<input type="text" value="0" id="bkAdult" class="qty2 form-control" name="bkAdult">
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<label>아이</label>
									<div class="numbers-row" id="child">
										<input type="text" value="0" id="bkChild" class="qty2 form-control" name="bkChild">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="alert alert-info" role="alert"><strong>객실 유형</strong> 선택
							</div>
					<table class="table table-striped cart-list add_bottom_30">
						<thead>
							<tr>
								<th>
									객실 유형
								</th>
								<th>
									개수
								</th>
								<th>
									가격
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="thumb_cart">
										<a href="#" data-bs-toggle="modal" data-bs-target="#modal_single_room"><img src="/usr/assets/img/thumb_cart_1.jpg" alt="Image">
										</a>
									</div>
									<!-- 객실 유형 싱글룸 -->
									<span class="item_cart" th:if="${item.roomTypeCD!= null}"th:text="${@codeService.selectOneCachedCode(16)}"></span>
									<span th:unless="${item.roomTypeCD!= null}"></span>
								</td>
								<td>
									<div class="numbers-row" id="singleRoom">
										<input type="text" value="1" id="btnSingle" class="qty2 form-control" name="btnSingle">
									</div>
								</td>
								<td>
									<input type="hidden" id="singleRoomPrice" name="singleRoomPrice" th:value="${#numbers.formatInteger(item.singleRoomPrice,1,'COMMA')}">
									<strong id="singlePrice" th:text="${#numbers.formatInteger(item.singleRoomPrice,1,'COMMA')}"></strong>
								</td>
							</tr>
							<tr>
								<td>
									<div class="thumb_cart">
										<a href="#" data-bs-toggle="modal" data-bs-target="#modal_double_room"><img src="/usr/assets/img/thumb_cart_1.jpg" alt="Image">
										</a>
									</div>
									<!-- 객실 유형 더블룸 -->
									<span class="item_cart" th:if="${item.roomTypeCD!= null}"th:text="${@codeService.selectOneCachedCode(17)}"></span>
									<span th:unless="${item.roomTypeCD!= null}"></span>
								</td>
								<td>
									<div class="numbers-row" id="doubleRoom">
										<input type="text" value="1" id="btnDouble" class="qty2 form-control" name="btnDouble">
									</div>
								</td>
								<td>
									<input type="hidden" id="doubleRoomPrice" name="doubleRoomPrice" th:value="${#numbers.formatInteger(item.doubleRoomPrice,1,'COMMA')}">
									<strong id="doublePrice" th:text="${#numbers.formatInteger(item.doubleRoomPrice,1,'COMMA')}"></strong>
								</td>
							</tr>
							<tr>
								<td>
									<div class="thumb_cart">
										<a href="#" data-bs-toggle="modal" data-bs-target="#modal_double_room"><img src="/usr/assets/img/thumb_cart_1.jpg" alt="Image">
										</a>
									</div>
									<!-- 객실 유형 트윈룸 -->
									<span class="item_cart" th:if="${item.roomTypeCD!= null}"th:text="${@codeService.selectOneCachedCode(18)}"></span>
									<span th:unless="${item.roomTypeCD!= null}"></span>
								</td>
								<td>
									<div class="numbers-row" id="twinRoom">
										<input type="text" value="1" id="btnTwin" class="qty2 form-control" name="btnTwin">
									</div>
								</td>
								<td>
									<input type="hidden" id="twinRoomPrice" name="twinRoomPrice" th:value="${#numbers.formatInteger(item.twinRoomPrice,1,'COMMA')} ">
									<strong id="twinPrice" th:text="${#numbers.formatInteger(item.twinRoomPrice,1,'COMMA')}"></strong>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="d-flex justify-content-between mt-4">
				<button  type="submit" class="btn_full" th:href="@{/booking(memberSeq=${item.memberSeq})}">예약</button>
			</div>
			<div>
				<a class="btn_full_outline" th:href="@{hotelList}">뒤로가기</a>
			</div>
		</div>
		</form>
			
						<br>
<!-- 						<button class="btn_full" th:href="@{/booking(memberSeq=${item.memberSeqF})}">예약</button> -->
<!-- 						<a class="btn_full_outline" th:href="@{hotelList}">뒤로가기</a> -->
					</div>
					<!--/box_style_1 -->
				</aside>	
					
				
			</div>
			<!--End row -->
<!-- 		</div> -->
		<!--End container -->
        
        <div id="overlay"></div>
		<!-- Mask on input focus -->
    
	</main>
	<!-- End main -->

	<!-- footer -->
	<div th:replace="~{usr/infra/include/footer :: footer}"></div>

	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="text" placeholder="Search..." />
			<button type="submit"><i class="icon_set_1_icon-78"></i>
			</button>
		</form>
	</div><!-- End Search Menu -->
	

	<!-- Modal Review -->
	<form method="post">
		<input name="roomSeq" id="roomSeq" type="hidden" th:value="${item.roomSeq}">
		<input name="roomSeqF" id="roomSeqF" type="hidden" th:value="${item.roomSeqF}">
	<div class="modal fade" id="myReview" tabindex="-1" role="dialog" aria-labelledby="myReviewLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myReviewLabel">리뷰작성</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="message-review">
					</div>
						<!-- End row -->
						<hr>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>청결</label>
									<select class="form-select" name="cleanRating" id="cleanRating">
										<option value="">리뷰 평점</option>
										<option value="5">5</option>
										<option value="4">4</option>
										<option value="3">3</option>
										<option value="2">2</option>
										<option value="1">1</option>
										<option value="0">0</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>편안함</label>
									<select class="form-select" name="comfortRating" id="comfortRating">
										<option value="">리뷰 평점</option>
										<option value="5">5</option>
										<option value="4">4</option>
										<option value="3">3</option>
										<option value="2">2</option>
										<option value="1">1</option>
										<option value="0">0</option>
									</select>
								</div>
							</div>
						</div>
						<!-- End row -->
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>가격</label>
									<select class="form-select" name="priceRating" id="priceRating">
										<option value="">리뷰 평점</option>
										<option value="5">5</option>
										<option value="4">4</option>
										<option value="3">3</option>
										<option value="2">2</option>
										<option value="1">1</option>
										<option value="0">0</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>퀄리티</label>
									<select class="form-select" name="qualityRating" id="qualityRating">
										<option value="">리뷰 평점</option>
										<option value="5">5</option>
										<option value="4">4</option>
										<option value="3">3</option>
										<option value="2">2</option>
										<option value="1">1</option>
										<option value="0">0</option>
									</select>
								</div>
							</div>
						</div>
						<!-- End row -->
						<div class="form-group">
							<textarea name="reviewContent" id="reviewContent" class="form-control" style="height:100px" placeholder="내용작성"></textarea>
						</div>
						<button type="button" class="btn_1" id="btnSubmit">작성</button>
				</div>
			</div>
		</div>
	</div>
	</form>
	<!-- End modal review -->

	<!-- Common scripts -->
	<script src="/usr/assets/js/jquery-3.7.1.min.js"></script>
	<script src="/usr/assets/js/common_scripts_min.js"></script>
	<script src="/usr/assets/js/functions.js"></script>

	<!-- Gallery -->
	<script src="/usr/assets/js/jquery.sliderPro.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function ($) {
			$('#Img_carousel').sliderPro({
				width: 960,
				height: 500,
				fade: true,
				arrows: true,
				buttons: false,
				fullScreen: false,
				smallSize: 500,
				startSlide: 0,
				mediumSize: 1000,
				largeSize: 3000,
				thumbnailArrows: true,
				autoplay: false
			});
		});
	</script>

    <!-- DATEPICKER  -->
	<script>
        $(function() {
          $('input.date-pick').daterangepicker({
              autoUpdateInput: true,
              singleDatePicker: true,
              autoApply: true,
              minDate:new Date(),
              showCustomRangeLabel: false,
              locale: {
                format: 'YYYY-MM-DD'
              }
              }, function(start, end, label) {
              console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('DD-MM-YYYY') + ' (predefined range: ' + label + ')');
            });
        });
    </script>
	
	<!-- Map -->
	<script src="http://maps.googleapis.com/maps/api/js"></script>                      
	<script src="/usr/assets/js/map.js"></script>
	<script src="/usr/assets/js/infobox.js"></script>
	
	<!-- Carousel -->
	<script>
		$('.carousel-thumbs-2').owlCarousel({
		loop:false,
		margin:5,
		responsiveClass:true,
		nav:false,
		responsive:{
			0:{
				items:1
			},
			600:{
				items:3
			},
			1000:{
				items:4,
				nav:false
			}
		}
	});
	</script>
	
	<!--Review modal validation -->
	<script src="/usr/assets/validate.js"></script>
	
	<script type="text/javascript">
	let goUrlRoomDetail = "@{/roomDetail(roomSeq=${item.roomSeqF})}";
	
	document.getElementById("btnSubmit").onclick = function () {
	    location.href = goUrlRoomDetail;
	}
	</script>
	<!-- 로그아웃 -->
	<script type="text/javascript">
		document.getElementById("buttonSignout").onclick = function () {
// 			alert("qqqqqqqqqq");
// 			if(validation() == false) return false;
			
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				/* ,dataType:"json" */
				,url: "/signoutUsr"
				/* ,data : $("#formLogin").serialize() */
				,data : { "memberID" : $("#memberID").val(), "memberPassword" : $("#memberPassword").val()}
				,success: function(response) {
// 					alert("확인");
					if(response.rt == "success") {
// 						alert("sssssss");
						location.href = "/usrIndex";

					}  
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		}
			
		</script>
		<!-- 리뷰  -->
		<script type="text/javascript">
		document.getElementById("btnSubmit").onclick = function () {
			alert("qqqqqqqqqq");
			
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				/* ,dataType:"json" */
				,url: "/reviewInsert"
				/* ,data : $("#formLogin").serialize() */
				,data : { "roomSeq" : $("#roomSeq").val(), "cleanRating" : $("#cleanRating").val(),"comfortRating" : $("#comfortRating").val(),
					"priceRating" : $("#priceRating").val(),"qualityRating" : $("#qualityRating").val(),"reviewContent" : $("#reviewContent").val()}
				,success: function(response) {
					if(response.rt == "success") {
						location.href = "/roomDetail?roomSeq="+ response.seq;

					} else(response.rt == "fail")
						alert("ddddd");
					
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		}
			
		</script>
		
</body>

</html>