
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{usr/infra/include/head :: head}"></div>
</head>

<body>

    <div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <!-- End Preload -->

    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->

    <!-- Header -->
    <header>
         <div th:replace="~{usr/infra/include/header :: header}"></div>
    </header><!-- End Header -->
	<form name="formList" id="formList" method="post">
	<!--메인 예약 확인-->
		<section id="search_container">
            <div id="search">
                <ul class="nav nav-tabs">
                    <li><a href="#hotels" data-bs-toggle="tab" class="active show">국내 숙소</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active show" id="hotels"> 
                    End rab
                    <div class="tab-pane" id="hotels">
                        <h3>숙소검색</h3>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><i class="icon-calendar-7"></i> 체크인</label>
                                    <input class="date-pick form-control" type="text" id="bkCheckIn" name="bkCheckIn" th:value="${#strings.substring(vo.shCheckIn, 0, 10)}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><i class="icon-calendar-7"></i> 체크아웃</label>
                                    <input class="date-pick form-control" type="text" id="bkCheckOut" name="bkCheckOut" th:value="${#strings.substring(vo.shCheckOut, 0, 10)}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>지역</label>
                                    <div class="styled-select-common">
                                        <select name="shAreaCD" id="shAreaCD" class="form-select form-select-sm">
                                           	<option value="">지역</option>
                                           <option
												th:each="listCodeGroup : ${@codeService.selectListCachedCode(4)}"
												th:value="${listCodeGroup.cdSeq}" th:text="${listCodeGroup.name}"
												th:selected="${listCodeGroup.cdSeq} == ${item?.areaCD}">
											</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <hr>
                        <button type="button" id="btnSearch" class="btn_1 green"><i class="icon-search"></i>검색</button>
                    </div>
                    </div>
                   
                </div>
            </div>
        </section>
        <main>
      
		<div class="container margin_60">

			<div class="main_title">
				<h2>국내 <span>인기</span> 지역</h2>
				<p></p>
			</div>

            <div class="owl-carousel owl-theme list_carousel add_bottom_30">
                <div class="item">
                    <div class="tour_container">
                        <div class="ribbon_3 popular"><span>인기</span></div>
                        <div class="img_container">
                            <a th:href="@{/hotelList(areaCD=9)}">
                                <img src="/usr/assets/img/jeju.jpg" width="800" height="533" class="img-fluid" alt="image">
                               
                            </a>
                        </div>
                        <div class="tour_title">
                            <h3><strong>제주도</strong></h3>
                        </div>
                    </div>
                    <!-- End box tour -->
                </div>
                <!-- /item -->
                <div class="item">
                    <div class="tour_container">
                        <div class="ribbon_3 popular"><span>인기</span></div>
                        <div class="img_container">
                            <a th:href="@{/hotelList(areaCD=10)}">
                                <img src="/usr/assets/img/seoul.jpg" width="800" height="533" class="img-fluid" alt="image">
                                
                            </a>
                        </div>
                        <div class="tour_title">
                            <h3><strong>서울</strong></h3>
                        </div>
                    </div>
                    <!-- End box tour -->
                </div>
                <!-- /item -->
                <div class="item">
                    <div class="tour_container">
                        <div class="ribbon_3 popular"><span>인기</span></div>
                        <div class="img_container">
                            <a th:href="@{/hotelList(areaCD=11)}">
                                <img src="/usr/assets/img/tour_box_3.jpg" width="800" height="533" class="img-fluid" alt="image">
                                
                                
                            </a>
                        </div>
                        <div class="tour_title">
                            <h3><strong>부산</strong></h3>
                        </div>
                    </div>
                    <!-- End box tour -->
                </div>
                <!-- /item -->
                <div class="item">
                    <div class="tour_container">
                        <div class="ribbon_3 popular"><span>인기</span></div>
                        <div class="img_container">
                            <a th:href="@{/hotelList(areaCD=12)}">
                                <img src="/usr/assets/img/tour_box_4.jpg" width="800" height="533" class="img-fluid" alt="image">
                               
                               
                            </a>
                        </div>
                        <div class="tour_title">
                            <h3><strong>강릉</strong></h3>
                           
                        </div>
                    </div>
                    <!-- End box tour -->
                </div>
                <!-- /item -->
                <div class="item">
                    <div class="tour_container">
                        <div class="ribbon_3 popular"><span>인기</span></div>
                        <div class="img_container">
                            <a th:href="@{/hotelList(areaCD=13)}">
                                <img src="/usr/assets/img/tour_box_14.jpg" width="800" height="533" class="img-fluid" alt="image">                                
                            </a>
                        </div>
                        <div class="tour_title">
                            <h3><strong>인천</strong></h3>
                            
                            
                        </div>
                    </div>
                    <!-- End box tour -->
                </div>
                <!-- /item -->
            </div>
            <!-- /carousel -->
			
			

			<hr class="mt-5 mb-5">

			<div class="main_title">
				<h2>인기 <span>추천</span> 숙소</h2>
				<p></p>
			</div>
			
            <div class="owl-carousel owl-theme list_carousel add_bottom_30">
                <div class="item" th:if="${#lists.isEmpty(List)}" th:each="list : ${list}">
                    <div class="hotel_container">
                        <div class="ribbon_3 "><span>추천</span></div>
                        <div class="img_container">
                            <a th:href="@{/roomDetail(roomSeq=${list.roomSeq})}">
                                <img src="/usr/assets/img/hotel_1.jpg" width="800" height="533" class="img-fluid" alt="image">
                                <div class="score"><span th:text="${list.hotelRating}"></span>평점</div>
                                <div class="short_info hotel">
                                    <span class="price"><sup th:text="${#numbers.formatInteger(list.roomPrice,1,'COMMA')} + '원'"></sup></span>
                                </div>
                            </a>
                        </div>
                        <div class="hotel_title">
                            <h3 ><strong th:text="${list.hotelName}">제주도</strong></h3>
                            <div class="rating">
                            	
<!--                                 <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i> -->
                            </div>
                            <!-- end rating -->
                            <div class="wishlist">
                                <a class="tooltip_flip tooltip-effect-1" th:href="@{/myPage}">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
                            </div>
                            <!-- End wish list-->
                        </div>
                    </div>
                    <!-- End box -->
                </div>
                <!-- /item -->
            </div>
            
            <!-- /carousel -->
			
			<p class="text-center nopadding">
				<a th:href="@{/hotelList}" class="btn_1">전체 목록</a>
			</p>
		</div>
		
        <!-- End container -->
	</main>
	<!-- End main -->
    </form>
    <!--footer 블록  -->`
    <footer class="revealed" th:replace="~{usr/infra/include/footer :: footer}">
		    
    </footer>
    <!-- End footer -->

	<div id="toTop"></div><!-- Back to top button -->

    <!-- Common scripts -->
    <script src="/usr/assets/js/jquery-3.7.1.min.js"></script>
    <script src="/usr/assets/js/common_scripts_min.js"></script>
    <script src="/usr/assets/js/functions.js"></script>
    
    <script>
        $(function() {
          $('#bkCheckIn , #bkCheckOut').daterangepicker({
              autoUpdateInput: true,
              singleDatePicker: true,
              autoApply: true,
              minDate:new Date(),
              showCustomRangeLabel: false,
              locale: {
                format: 'YYYY/MM/DD'
              }
              }, function(start, end, label) {
              console.log('New date range selected: ' + start.format('YYYY/MM/DD') + ' to ' + end.format('DD/MM/YYYY') + ' (predefined range: ' + label + ')');
            });
        });
		let goUrlHotel = "[[@{/hotelList(areaCD=${vo.areaCD})}]]";
		
		let form = document.querySelector("form[name=formList]");
		document.getElementById("btnSearch").onclick = function() {
			form.action = goUrlHotel;
			form.submit();
		};
    </script>
        <script>
            $('input.time-pick').timepicker({
                minuteStep: 15,
                showInpunts: false
            })
        </script>
        
        <script src="/usr/assets/js/jquery.ddslick.js"></script>
        <script>
            $("select.ddslick").each(function() {
                $(this).ddslick({
                    showSelectedHTML: true
                });
            });
        </script>
	
		<script type="text/javascript">
		document.getElementById("buttonSignout").onclick = function () {
// 			alert("qqqqqqqqqq");
// 			if(validation() == false) return false;
			
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				/* ,dataType:"json" */
				,url: "/signoutUsr"
				/* ,data : $("#formLogin").serialize() */
				,data : { "memberID" : $("#memberID").val(), "memberPassword" : $("#memberPassword").val()}
				,success: function(response) {
// 					alert("확인");
					if(response.rt == "success") {
// 						alert("sssssss");
						location.href = "/usrIndex";

					}  
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		}
			
		</script>
		
	<!-- NOTIFY BUBBLES  -->
<!-- 	<script src="/usr/assets/js/notify_func.js"></script> -->

</body>

</html>