<!DOCTYPE html>
<html lang="en" >

<head>
	<div th:replace="~{usr/infra/include/head :: head}"></div>
</head>
<body>

    <div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <!-- End Preload -->

    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->

    <!-- Header================================================== -->
    <header>
        
    </header><!-- End Header -->
    
	<main>
    <section id="hero" class="login">
    	<div class="container">
        	<div class="row justify-content-center">
            	<div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
                	<div id="login">
                    		<div class="text-center"><img src="/usr/assets/img/logo_sticky.png" alt="Image" width="160" height="34"></div>
                            <hr>
                            <form method="get" class="needs-validation" novalidate>
                            <a href="#0">
                            <img src="/usr/assets/img/naverlogin.png" style="width: 300px; height: 40px" >
                            </a>
                            <hr>
							<a th:href="${location}">
							    <img alt="image" src="/usr/assets/img/kakaoLogin.png">
							</a>
							<div class="divider"><span>Or</span></div>
                                <div class="form-group">
                                    <label for="validationID" class="form-label">아이디</label>
                                    <input type="text" class=" form-control " id="memberID" name="memberId" placeholder="아이디" value="tkagh258">
                                    
                                    <div class="invalid-feedback">
                                        아이디를 입력하세요
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>비밀번호</label>
                                    <input type="password" class=" form-control"id="memberPassword" name="memberPassword" placeholder="비밀번호" value="1234">
                                </div>
                                <div class="clearfix add_bottom_15">
                                    <div class="checkboxes float-start">
                                        <label class="container_check">비밀번호 저장
                                          <input type="checkbox">
                                          <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <button id="buttonSignIn" name="buttonSignIn" class="btn_full" type="button">로그인</button>
                                <div class="text-center">
                                    계정이 없습니까? <a th:href="@{register}">회원가입</a>
                                </div>
                                
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </section>
	</main><!-- End main -->
	
	<footer th:replace="~{usr/infra/include/footer :: footer}">
       
    </footer><!-- End footer -->

	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="text" placeholder="Search..." />
			<button type="submit"><i class="icon_set_1_icon-78"></i>
			</button>
		</form>
	</div><!-- End Search Menu -->
	

	<!-- Common scripts -->
	<script src="/usr/assets/js/jquery-3.7.1.min.js"></script>
	<script src="/usr/assets/js/common_scripts_min.js"></script>
	<script src="/usr/assets/js/functions.js"></script>

 	<script type="text/javascript"> 
 		document.getElementById("buttonSignIn").onclick = function () {
			
//  			if(validation() == false) return false;
			
		
 			$.ajax({
 				async: true 
 				,cache: false
 				,type: "post"
 				/* ,dataType:"json" */
 				,url: "/signinUsr"
 				/* ,data : $("#formLogin").serialize() */
 				,data : { "memberID" : $("#memberID").val(), "memberPassword" : $("#memberPassword").val()}
 				,success: function(response) {
 					if(response.rt == "success") {
//  						alert("sqqqqqqqq");
 						location.href = "/usrIndex";

 					} else if (response.rt == "passfail"){
 						alert("비밀번호가 일치하지 않습니다.");
					
 					} else if (response.rt == "notId"){
 						alert("아이디가 일치하지 않습니다.");
 					}
 				}
 				,error : function(jqXHR, textStatus, errorThrown){
 					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
 				}
 			});
 		}
		
 		</script>
		
		<!-- rest api  -->
		<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.1/kakao.min.js" integrity="sha384-kDljxUXHaJ9xAb2AzRd59KxjrFjzHa5TAoFQ6GbYTCAG0bjM55XohjjDT7tDDC01" crossorigin="anonymous"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		
		<script th:inline="javascript">

	  	// REST API
		function fnClick() {
			location.href = [[${location}]]
		};

	</script>
	
  </body>
</html>