<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Header================================================== -->
    
    <header th:fragment="header">
        <div id="top_line">
            <div class="container">
                <div class="row">
                    <div class="col-6"><i class="icon-phone"></i><strong>1234-5678</strong></div>
                    <div class="col-6">
                        <ul id="top_links">
                        	<button type="button" th:if="${session.sessNameXdm == null}"> <a th:href="@{/usrLogin}" class="mt-2 text-black">로그인</a></button>
                        	<button type="button" th:unless="${session.sessNameXdm == null}" id="buttonSignout" class="mt-2 text-black">로그아웃</button>
                            <li><a href="register.html" id="register">회원가입</a></li>
                            <li><a href="admin.html" id="admin_link">마이페이지</a></li>
                        </ul>
                    </div>
                </div><!-- End row -->
            </div><!-- End container-->
        </div><!-- End top line-->
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div id="logo_home">
                    	<h1><a th:href="@{/usrIndex}" title="City tours travel template">City Tours</a></h1>
                    </div>
                </div>
                <nav class="col-9">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            <img src="/usr/assets/img/logo_sticky.png" width="160" height="34" alt="City tours">
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li class="submenu">
                                <a th:href="@{/usrIndex}" class="show-submenu">홈 <i class=""></i></a>
                            </li>
                             <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">숙소 <i class="icon-down-open-mini"></i></a><ul>
                                    <li><a th:href="@{/hotelList}">전체 숙소 리스트</a></li>
                                </ul>
                            </li>
                             <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">호텔 <i class="icon-down-open-mini"></i></a><ul>
                                    <li><a th:href="@{/hotelList(hotelTypeCD=6)}">호텔 전체 리스트</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">펜션 <i class="icon-down-open-mini"></i></a><ul>
                                    <li><a th:href="@{/hotelList(hotelTypeCD=7)}">펜션 전체 리스트</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">모텔 <i class="icon-down-open-mini"></i></a><ul>
                                    <li><a th:href="@{/hotelList(hotelTypeCD=8)}">모텔 전체 리스트</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">지역 숙소<i class="icon-down-open-mini"></i></a><ul>
                                    <li><a th:href="@{/hotelList(areaCD=9)}">제주도</a></li>
                                    <li><a th:href="@{/hotelList(areaCD=10)}">서울</a></li>
                                    <li><a th:href="@{/hotelList(areaCD=11)}">부산</a></li>
                                    <li><a th:href="@{/hotelList(areaCD=12)}">강릉</a></li>
                                    <li><a th:href="@{/hotelList(areaCD=13)}">인천</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- End main-menu -->
                    <ul id="top_tools">
                        <li>
                        </li>
                       
                    </ul>
                </nav>
            </div>
        </div><!-- container -->
    </header><!-- End Header -->
    
   </html>