<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Header================================================== -->
    
    <header th:fragment="header">
        <div id="top_line">
            <div class="container">
                <div class="row">
                    <div class="col-6"><i class="icon-phone"></i><strong>1234-5678</strong></div>
                    <div class="col-6">
                        <ul id="top_links">
                        	<button type="button" th:if="${session.sessNameXdm == null}"> <a th:href="@{/usrLogin}" class="mt-2 text-black">로그인</a></button>
                        	<button type="button" th:unless="${session.sessNameXdm == null}" id="buttonSignout" class="mt-2 text-black">로그아웃</button>
                            <li><a href="register.html" id="register">회원가입</a></li>
                            <li><a href="admin.html" id="admin_link">마이페이지</a></li>
                        </ul>
                    </div>
                </div><!-- End row -->
            </div><!-- End container-->
        </div><!-- End top line-->
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div id="logo_home">
                    	<h1><a href="index.html" title="City tours travel template">City Tours travel template</a></h1>
                    </div>
                </div>
                <nav class="col-9">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            <img src="/usr/assets/img/logo_sticky.png" width="160" height="34" alt="City tours">
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">홈 <i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <li><a href="index.html">전체 숙소 리스트</a></li>
                                    <li><a href="index_25.html">KenBurns Slider</a></li>
                                    <li><a href="index_22.html">Home items with Carousel</a></li>
                                    <li><a href="index_23.html">Home with Search V2</a></li>
                                    </li>
                                </ul>
                            </li>
                            
                             <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">호텔 <i class="icon-down-open-mini"></i></a><ul>
                                    <li><a th:href="@{/hotelList}">호텔 리스트</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">펜션 <i class="icon-down-open-mini"></i></a><ul>
                                    <li><a th:href="@{/hotelList}">펜션 리스트</a></li>
                                </ul>
                            </li><li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">모텔 <i class="icon-down-open-mini"></i></a><ul>
                                    <li><a th:href="@{/hotelList}">모텔 리스트</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- End main-menu -->
                    <ul id="top_tools">
                        <li>
                            <a href="javascript:void(0);" class="search-overlay-menu-btn"><i class="icon_search"></i></a>
                        </li>
                        <li>
                            <div class="dropdown dropdown-cart">
                                <a href="#" data-bs-toggle="dropdown" class="cart_bt"><i class="icon_bag_alt"></i><strong>3</strong></a>
                                <ul class="dropdown-menu" id="cart_items">
                                    <li>
                                        <div class="image"><img src="/usr/assets/img/thumb_cart_1.jpg" alt="image"></div>
                                        <strong><a href="#">Louvre museum</a>1x $36.00 </strong>
                                        <a href="#" class="action"><i class="icon-trash"></i></a>
                                    </li>
                                    <li>
                                        <div class="image"><img src="/usr/assets/img/thumb_cart_2.jpg" alt="image"></div>
                                        <strong><a href="#">Versailles tour</a>2x $36.00 </strong>
                                        <a href="#" class="action"><i class="icon-trash"></i></a>
                                    </li>
                                    <li>
                                        <div class="image"><img src="/usr/assets/img/thumb_cart_3.jpg" alt="image"></div>
                                        <strong><a href="#">Versailles tour</a>1x $36.00 </strong>
                                        <a href="#" class="action"><i class="icon-trash"></i></a>
                                    </li>
                                    <li>
                                        <div>Total: <span>$120.00</span></div>
                                        <a href="cart.html" class="button_drop">Go to cart</a>
                                        <a href="payment.html" class="button_drop outline">Check out</a>
                                    </li>
                                </ul>
                            </div><!-- End dropdown-cart-->
                        </li>
                    </ul>
                </nav>
            </div>
        </div><!-- container -->
    </header><!-- End Header -->
    
   </html>