<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotelstay.infra.booking.BookingDao">

	<resultMap id="resultMapObj"
		type="com.hotelstay.infra.booking.BookingDto"></resultMap>

	<select id="selectMy" resultMap="resultMapObj">
		SELECT
		    a.memberSeq,
		    a.memberName,
		    a.birthday,
		    a.memberPhone,
		    a.codeNumber,
		    a.addrDetail,
		    a.roadName,
		    a.reference,
		    bookingSeq,
		    b.member_seq AS memberSeqF,
		    b.bkCheckin,
		    b.bkCheckout,
		    b.bkAdult,
		    b.bkChild,
		    b.bkTotalPrice,
		    b.bkRegDate,
		    b.singleRoomPrice,
		    b.doubleRoomPrice,
		    b.twinRoomPrice,       
		    c.roomName,
		    c.roomTypeCD,
		    c.roomPrice,
		    c.roomRegDate,
		    c.roomSeq,
		    b.roomDetail_seq AS roomSeqF,
		    c.hotelList_seq AS hotelListSeqF,
		    (
		        SELECT COALESCE(SUM(singleRoomPrice + doubleRoomPrice + twinRoomPrice), 0) 
		        FROM hotelbooking 
		        WHERE bookingSeq = b.bookingSeq
		    ) AS totalRoomPrice
		FROM member a
		LEFT JOIN hotelbooking b ON b.member_seq = a.memberSeq
		LEFT JOIN roomdetail c ON b.roomDetail_seq = c.roomSeq
		WHERE 1=1
		AND a.memberSeq = #{memberSeqF}
	</select>

	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.memberSeq
			,a.memberName
	        ,a.birthday
	        ,a.memberPhone
            ,a.codeNumber
			,a.addrDetail
			,a.roadName
			,a.reference
		FROM member a
		WHERE 1=1
		AND a.memberSeq =  #{memberSeqF};
	</select>

	<select id="selectWish" resultMap="resultMapObj">
		SELECT
		a.memberSeqF
		,c.roomName
		,c.roomPrice
		,c.roomTotalRating
		FROM wishlist a
		LEFT JOIN member b
		on a.wishSeq = b.memberSeq
		LEFT JOIN roomdetail c
		on a.wishSeq = c.roomSeq
		WHERE memberSeqF = #{memberSeqF};

	</select>

	<update id="memberUpdate">
		UPDATE member
		set
		memberName = #{memberName}
		,birthday = #{birthday}
		,memberPhone = #{memberPhone}
		,codeNumber = #{codeNumber}
		,roadName = #{roadName}
		,addrDetail = #{addrDetail}
		,reference = #{reference}
		WHERE memberSeq = #{memberSeqF}
	</update>
	
	
	
	
	<select id="bookingSelectOne" resultMap="resultMapObj">
		SELECT 
	    b.bookingSeq,
	    a.memberSeq,
	    a.memberName,
	    b.bkAdult,
	    b.bkChild,
	    b.bkCheckIn,
	    b.bkCheckOut,
	    b.member_seq as memberSeqF,
	    b.singleRoomPrice,
	    b.doubleRoomPrice,
	    b.twinRoomPrice,
	    b.bkTotalPrice,
	    b.member_seq as memberSeqF,
	    b.cardNumber,
	    b.cardDate,
	    b.cardYear,
	    b.cardCcv,
	    (
	        SELECT COALESCE(SUM(singleRoomPrice + doubleRoomPrice + twinRoomPrice), 0) 
	        FROM hotelbooking 
	        WHERE bookingSeq = #{bookingSeq}
	    ) AS totalRoomPrice
	FROM member a
	LEFT JOIN hotelbooking b ON b.member_seq = a.memberSeq
	WHERE 1=1
	AND b.bookingSeq = #{bookingSeq}
	</select>
	
	
	<insert id="bookingInsert" 
	parameterType = "com.hotelstay.infra.booking.BookingDto">
		<selectKey resultType ="String" keyProperty="bookingSeq" order="AFTER">
		SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO hotelbooking(
			bkCheckIn
			,bkCheckOut
			,bkAdult
			,bkChild
			,singleRoomPrice 
			,doubleRoomPrice
			,twinRoomPrice
			,cardNumber
			,cardDate
			,cardYear
			,cardCcv
			,member_seq
			,roomDetail_seq 
		)VALUE(
			#{bkCheckIn}
			,#{bkCheckOut}
			,#{bkAdult}
			,#{bkChild}
			,#{singleRoomPrice}
			,#{doubleRoomPrice}
			,#{twinRoomPrice}
			,#{cardNumber}
			,#{cardDate}
			,#{cardYear}
			,#{cardCcv}
			,#{memberSeqF}
			,#{roomSeqF}
		)
	</insert>
	
	
	
</mapper>