<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotelstay.infra.code.CodeDao">
<resultMap id="resultMapObj" type="com.hotelstay.infra.code.CodeDto"></resultMap>


<select id="selectList" resultMap="resultMapObj">
       SELECT
            a.cdSeq
            ,a.name
            ,a.codeGroup_seq
            ,a.cdDelny 
            ,a.cdRegDate
            ,a.cdUpdate
            ,(select aa.name from codegroup aa where 1=1 and aa.cgSeq = a.codeGroup_seq) as codegroup_name
         FROM code a
        WHERE 1=1
<!--         <if test="shUseNy != null and !shUseNy.equals('')">AND ifcgUseNy = #{shUseNy}</if> -->
        <if test="shcodeDelete != null and !shcodeDelete.equals('')">AND a.cdDelny = #{shcodeDelete}</if> <!-- AND codeDelete = #{shDelNy} -->
       
				<choose>
					<when test="shOptionDate == 1">AND a.cdRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.cdUpdate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
    
        <choose>
            <when test="shOption == 1">AND a.codeGroup_seq = #{shValue}</when>
            <when test="shOption == 2">AND a.cdSeq = #{shValue}</when>
            <when test="shOption == 3">AND a.name LIKE CONCAT('%',#{shValue},'%')</when>
            
            
<!--             <when test="shOption == 3">AND ifcgNameEng LIKE CONCAT('%',#{shValue},'%')</when> -->
        </choose>
        
        
        ORDER BY a.cdSeq DESC
    </select>


	  <select id="selectOne" resultMap="resultMapObj">
       SELECT
            a.cdSeq
            ,a.name
            ,a.codeGroup_seq
            ,a.cdDelny
            ,a.cdRegDate
            ,a.cdUpdate
         FROM code a
        WHERE 1=1
        AND a.cdSeq = #{cdSeq}
        ORDER BY a.cdSeq DESC
    </select>
    
     <insert id="insert">
    	INSERT INTO code(
            name
            ,cdRegDate
            ,cdUpdate
            ,cdDelny
            ,codeGroup_seq
    	) VALUES(		
    		#{name}
    		,#{cdRegDate}
    		,#{cdUpdate}
    		,#{cdDelny}
    		,#{codeGroup_seq}
    	)
    </insert>
    
    <update id="update">
    	
    	UPDATE code
    	set
    	name = #{name}
    	WHERE cdSeq = #{cdSeq}
  
    </update>
    
    <update id="updateDelete">
    	
    	UPDATE code
    	set
    	cdDelny = 1
    	WHERE cdSeq = #{cdSeq}
  
    </update>
   
   <delete id="delete">
    	DELETE FROM  code
    	WHERE cdSeq = #{cdSeq}
    </delete>
    
</mapper>