<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotelstay.infra.code.CodeDao">
<resultMap id="resultMapObj" type="com.hotelstay.infra.code.CodeDto"></resultMap>

 	<sql id ="selectCommon">
        FROM code a
         	LEFT JOIN codeGroup b on b.cgSeq = a.cdSeq
        WHERE 1=1
<!--         <if test="shUseNy != null and !shUseNy.equals('')">AND ifcgUseNy = #{shUseNy}</if> -->
        <if test="shDelny != null and !shDelny.equals('')">AND a.cdDelny = #{shDelny}</if>
       
				<choose>
					<when test="shOptionDate == 1">AND a.cdRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.cdUpdate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
    
        <choose>
            <when test="shOption == 1">AND a.codeGroup_seq = #{shValue}</when>
            <when test="shOption == 2">AND a.cdSeq = #{shValue}</when>
            <when test="shOption == 3">AND a.name LIKE CONCAT('%',#{shValue},'%')</when>
            
            
<!--             <when test="shOption == 3">AND ifcgNameEng LIKE CONCAT('%',#{shValue},'%')</when> -->
        </choose>
       </sql>
	<select id="selectList" resultMap="resultMapObj">
       SELECT
            a.cdSeq
            ,a.name
            ,a.codeGroup_seq
            ,a.cdRegDate
            ,a.cdUpdate
            ,a.cdDelny
            ,(select aa.name from codeGroup aa where 1=1 and aa.cgSeq = a.codeGroup_seq) as codegroup_name
			<include refid="selectCommon" />         
        ORDER BY a.cdSeq DESC
         limit #{rowNumToShow} offset #{startRnumForMysql}
    </select>
    
     <select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
    


	  <select id="selectOne" resultMap="resultMapObj">
       SELECT
            a.cdSeq
            ,a.name
            ,a.codeGroup_seq
            ,a.cdRegDate
            ,a.cdUpdate
            ,a.cdDelny
         FROM code a
        WHERE 1=1
        AND a.cdSeq = #{cdSeq}
        ORDER BY a.cdSeq DESC
    </select>
    
     <insert id="insert">
    	INSERT INTO code(
            name
            ,cdRegDate
            ,cdUpdate
            ,cdDelny
            ,codeGroup_seq
    	) VALUES(		
    		#{name}
    		,now()
    		,now()
    		,0
    		,#{codeGroup_seq}
    	)
    </insert>
    
    <update id="update">
    	
    	UPDATE code
    	set
    	name = #{name}
    	WHERE cdSeq = #{cdSeq}
  
    </update>
    
    <update id="updateDelete">
    	
    	UPDATE code
    	set
    	cdDelny = 1
    	WHERE cdSeq = #{cdSeq}
  
    </update>
   
   <delete id="delete">
    	DELETE FROM  code
    	WHERE cdSeq = #{cdSeq}
    </delete>
    
    <select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			a.cdSeq
			,a.name
			,a.codeGroup_seq
		FROM
			code a
		WHERE 1=1
			AND a.cdDelny = 0
		    
   </select>
    
    
</mapper>