<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotelstay.infra.code.CodeDao">
<resultMap id="resultMapObj" type="com.hotelstay.infra.code.CodeDto"></resultMap>


<select id="selectList" resultMap="resultMapObj">
       SELECT
            a.seq
            ,a.name
            ,a.code_seq
            ,a.codeDelete 
            ,a.codeCreate
            ,a.codeUpdate
            ,(select aa.name from codegroup aa where 1=1 and aa.seq = a.code_seq) as codegroup_name
         FROM Code a
        WHERE 1=1
<!--         <if test="shUseNy != null and !shUseNy.equals('')">AND ifcgUseNy = #{shUseNy}</if> -->
        <if test="shcodeDelete != null and !shcodeDelete.equals('')">AND a.codeDelete = #{shcodeDelete}</if> <!-- AND codeDelete = #{shDelNy} -->
       
				<choose>
					<when test="shOptionDate == 1">AND a.codeCreate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.codeUpdate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
    
        <choose>
            <when test="shOption == 1">AND a.code_seq = #{shValue}</when>
            <when test="shOption == 2">AND a.seq = #{shValue}</when>
            <when test="shOption == 3">AND a.Name LIKE CONCAT('%',#{shValue},'%')</when>
            
            
<!--             <when test="shOption == 3">AND ifcgNameEng LIKE CONCAT('%',#{shValue},'%')</when> -->
        </choose>
        
        
        ORDER BY a.Seq DESC
    </select>


	  <select id="selectOne" resultMap="resultMapObj">
       SELECT
            a.seq
            ,a.name
            ,a.code_seq
            ,a.codeDelete
            ,a.codeCreate
            ,a.codeUpdate
         FROM Code a
        WHERE 1=1
        AND a.seq = #{seq}
        ORDER BY a.Seq DESC
    </select>
    
     <insert id="insert">
    	INSERT INTO code(
            name
            ,codeCreate
            ,codeUpdate
            ,codeDelete
            ,code_Seq
    	) VALUES(		
    		#{name}
    		,#{codeCreate}
    		,#{codeUpdate}
    		,#{codeDelete}
    		,#{code_seq}
    	)
    </insert>
    
    <update id="update">
    	
    	UPDATE code
    	set
    	name = #{name}
    	WHERE seq = #{seq}
  
    </update>
    
    <update id="updateDelete">
    	
    	UPDATE code
    	set
    	codeDelete = 1
    	WHERE seq = #{seq}
  
    </update>
   
   <delete id="delete">
    	DELETE FROM  code
    	WHERE seq = #{seq}
    </delete>
    
</mapper>