<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotelstay.infra.hotel.HotelDao">

	<resultMap id="resultMapObj" type="com.hotelstay.infra.hotel.HotelDto"></resultMap>
	
	 
	<sql id ="selectCommon">
         FROM hotellist a
         LEFT JOIN roomdetail b on a.hotelSeq = b.roomSeq
        WHERE 1=1
        	
        	<!-- list 조건에 맞는 화면 띄우기 -->
        	<if test="hotelTypeCD != null and !hotelTypeCD.equals('')">AND a.hotelTypeCD = #{hotelTypeCD}</if>
        	<if test="areaCD != null and !areaCD.equals('')">AND a.areaCD = #{areaCD}</if> 
        	
<!--         	체크인 체크아웃 -->
<!--         	<if test="shCheckIn != null and !shCheckIn.equals('')">AND a.bkCheckIn = #{shCheckIn}></if> -->
<!--         	<if test="shCheckOut != null and !shCheckOut.equals('')">AND a.bkCheckOut = #{shCheckOut}></if> -->
        	
        	
<!--          <if test="shUseNy != null and !shUseNy.equals('')">AND ifcgUseNy = #{shUseNy}</if> -->
<!--         	<if test="shDelny != null and !shDelny.equals('')">AND a.htDelny = #{shDelny}</if>  -->
        
				<choose>
					<when test="shOptionDate == 1">AND a.bkCheckIn BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.bkCheckOut BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
			
<!-- 			<if test="shGenderCD != null and !shGenderCD.equals('')">AND a.genderCD = #{shGenderCD}</if>  -->
       
<!--         <choose> -->
<!--             <when test="shOption == 1">AND a.memberSeq = #{shValue}</when> -->
<!--             <when test="shOption == 2">AND a.memberName LIKE CONCAT('%',#{shValue},'%')</when> -->
<!--             <when test="shOption == 3">AND a.birthday LIKE CONCAT('%',#{shValue},'%')</when> -->
<!--             <when test="shOption == 4">AND a.memberID LIKE CONCAT('%',#{shValue},'%')</when> -->
<!--             <when test="shOption == 5">AND a.memberPhone LIKE CONCAT('%',#{shValue},'%')</when> -->
<!--         </choose> -->
       </sql>
	
	 <select id="selectList" resultMap="resultMapObj">
       SELECT
        	a.hotelSeq
			,a.hotelName
    		,a.hotelContent
    		,a.hotelRating
    		,a.hotelTypeCD
    		,a.areaCD
    		,b.roomName
    		,b.roomPrice
   		 	,b.roomTypeCD
   		 	,b.roomTotalRating
    		,b.roomSeq 
        	<include refid="selectCommon" />
        ORDER BY a.hotelSeq DESC
        limit #{rowNumToShow} offset #{startRnumForMysql}
    </select>
    
    <select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
    
    <select id="selectOne" resultMap="resultMapObj">
        SELECT
           a.hotelSeq
            ,a.hotelName
            ,a.hotelContent
            ,a.hotelRating
            ,a.areaCD
            ,a.hotelTypeCD
            ,a.htRegDate
            ,a.htUpdate
            ,a.htDelny
            ,a.wishlist_seq
            ,b.roomPrice
         FROM hotellist a
         LEFT JOIN roomdetail b on a.hotelSeq = b.roomSeq
        WHERE 1=1
        AND a.hotelSeq = #{hotelSeq}
        ORDER BY a.hotelSeq DESC
    </select>
    
    
    
</mapper>