<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotelstay.infra.kakaoLogin.KakaoLoginDao">

	<resultMap id="resultMapObj" type="com.hotelstay.infra.kakaoLogin.KakaoLoginDto"></resultMap>
	
	<select id="kakaoLogin" resultMap="resultMapObj">
		SELECT 
		memberSeq
		,memberName
		,email
		FROM member
		WHERE 1=1 
		AND email=#{email}
	</select>
	
	
	<insert id="kakaoLoginInsert">
		INSERT INTO member(
			email
		)VALUES(
			#{email}
		)
	</insert>
	
</mapper>