<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotelstay.infra.member.MemberDao">

	<resultMap id="resultMapObj" type="com.hotelstay.infra.member.MemberDto"></resultMap>
	
	
	<sql id ="selectCommon">
         FROM member a
        WHERE 1=1
<!--          <if test="shUseNy != null and !shUseNy.equals('')">AND ifcgUseNy = #{shUseNy}</if> -->
        	<if test="shDelny != null and !shDelny.equals('')">AND a.mbDelny = #{shDelny}</if> 
        
				<choose>
					<when test="shOptionDate == 1">AND a.mbRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.mbUpdate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
			
			<if test="shGenderCD != null and !shGenderCD.equals('')">AND a.genderCD = #{shGenderCD}</if> 
       
        <choose>
            <when test="shOption == 1">AND a.memberSeq = #{shValue}</when>
            <when test="shOption == 2">AND a.memberName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND a.birthday LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 4">AND a.memberID LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 5">AND a.memberPhone LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
       </sql>
	
	 <select id="selectList" resultMap="resultMapObj">
        SELECT
            a.memberSeq
            ,a.memberName
            ,a.genderCD
            ,a.birthday
            ,a.memberID
            ,a.memberPassword
            ,a.memberPhone
            ,a.codeNumber
            ,a.roadName
            ,a.addrDetail
            ,a.mbRegDate
            ,a.mbUpdate
            ,a.mbDelny
        	<include refid="selectCommon" />
        ORDER BY a.memberSeq DESC
        limit #{rowNumToShow} offset #{startRnumForMysql}
    </select>
    
    <select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
    
    <select id="selectOne" resultMap="resultMapObj">
        SELECT
            a.memberSeq
            ,a.memberName
            ,a.genderCD
            ,a.birthday
            ,a.memberID
            ,a.memberPassword
            ,a.memberPhone
            ,a.codeNumber
            ,a.roadName
            ,a.addrDetail
            ,a.mbRegDate
            ,a.mbUpdate
            ,a.mbDelny
         FROM member a
        WHERE 1=1
        AND a.memberSeq = #{memberSeq}
        ORDER BY a.memberSeq DESC
    </select>
    
    <insert id="insert">
    	INSERT INTO member(
            memberName
            ,genderCD
            ,birthday
            ,memberID
            ,memberPassword
            ,memberPhone
            ,codeNumber
            ,roadName
            ,addrDetail
            ,mbRegDate
            ,mbUpdate
            ,mbDelny
    	) VALUES(		 
    		#{memberName}
    		,#{genderCD}
    		,#{birthday}
    		,#{memberID}
    		,#{memberPassword}
    		,#{memberPhone}
    		,#{codeNumber}
    		,#{roadName}
    		,#{addrDetail}
    		,now()
    		,now()
    		,0
    	)
           
    </insert>
    
    <insert id="usrInsert">
    	INSERT INTO member(
            memberName
            ,genderCD
            ,birthday
            ,memberID
            ,memberPassword
            ,memberPhone
            ,codeNumber
            ,roadName
            ,addrDetail
    	) VALUES(		 
    		#{memberName}
    		,#{genderCD}
    		,#{birthday}
    		,#{memberID}
    		,#{memberPassword}
    		,#{memberPhone}
    		,#{codeNumber}
    		,#{roadName}
    		,#{addrDetail}
    	)
           
    </insert>
    <update id="update">
    	
    	UPDATE member 
    	set
    	memberName =	#{memberName}
    	,genderCD = #{genderCD}
    	,birthday = #{birthday}
    	,memberID = #{memberID}
    	,memberPassword = #{memberPassword}
    	,memberPhone = #{memberPhone}
    	,codeNumber = #{codeNumber}
    	,roadName = #{roadName}
    	,addrDetail = #{addrDetail}
    	WHERE memberSeq = #{memberSeq}
    </update>
    
    <update id="memberUpdate">
		UPDATE member 
    	set
    	memberName = #{memberName}
    	,birthday = #{birthday}
    	,memberPhone = #{memberPhone}
    	,codeNumber = #{codeNumber}
    	,roadName = #{roadName}
    	,addrDetail = #{addrDetail}
    	WHERE memberSeq = #{memberSeqF}
	</update>
	
	<!-- 비밀번호 변경-->
	<update id="passwordUpdate">
	UPDATE member
	SET
		memberPassword = #{memberPassword}
	WHERE memberSeq=#{memberSeqF}
	</update>
	
	<select id="pwdcheck" resultMap="resultMapObj">
		SELECT 
		 	memberID
		 	,memberPassword
		FROM member 
		WHERE 1=1
		AND memberSeq=#{memberSeqF} 
	</select>
   
    
    <update id="updateDelete">
    	
    	UPDATE member 
    	set
    	mbDelny = 1
    	WHERE 1=1
    	AND memberSeq = #{memberSeq}
  
    </update>
    
    <delete id="delete">
    	DELETE FROM  member
    	WHERE memberSeq = #{memberSeq}
    </delete>
    
     <select id="selectLogin" resultMap="resultMapObj">
 		SELECT
 			memberID
 			,email
 			,memberPassword
 			,memberName
 			,memberSeq
 		 FROM member 
 		 WHERE 1=1
 		 AND memberID = #{memberID}
	  </select>
</mapper>