<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotelstay.infra.review.ReviewDao">

	<resultMap id="resultMapObj" type="com.hotelstay.infra.review.ReviewDto"></resultMap>
	
	 <select id="selectList" resultMap="resultMapObj">
	 SELECT 
	 	 memberNickName
         ,cleanRating
         ,comfortRating
         ,priceRating
         ,qualityRating
         ,reviewContent
         ,reRegDate
         ,roomSeqF as roomSeq
	 FROM review
	 WHERE 1=1
	 AND roomSeqF =#{roomSeq}
	 </select>
	 
	 
    <insert id="reviewInsert">
    INSERT INTO review(
            memberNickName
            ,cleanRating
            ,comfortRating
            ,priceRating
            ,qualityRating
            ,reviewContent
            ,reRegDate
            ,roomSeqF
    	) VALUES(		
    		#{memberNickName}
    		,#{cleanRating}
    		,#{comfortRating}
    		,#{priceRating}
    		,#{qualityRating}
    		,#{reviewContent}
    		,now()
    		,#{roomSeqF}
    	)
    </insert>
   
  
    
    
    
    
</mapper>