<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotelstay.infra.roomdetail.RoomDetailDao">

	<resultMap id="resultMapObj" type="com.hotelstay.infra.roomdetail.RoomDetailDto"></resultMap>
	
	 
	<sql id ="selectCommon">
        FROM roomdetail a 
		 LEFT JOIN review b on a.roomSeq= b.reviewSeq
		 WHERE 1=1 
<!--         	<if test="hotelTypeCD != null and !hotelTypeCD.equals('')">AND a.hotelTypeCD = #{hotelTypeCD}</if> -->
<!--         	<if test="areaCD != null and !areaCD.equals('')">AND a.areaCD = #{areaCD}</if>  -->
        	
<!--          <if test="shUseNy != null and !shUseNy.equals('')">AND ifcgUseNy = #{shUseNy}</if> -->
        	<if test="shDelny != null and !shDelny.equals('')">AND a.roomDelny = #{shDelny}</if> 
        
				<choose>
					<when test="shOptionDate == 1">AND a.roomRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.roomUpdate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
			
<!-- 			<if test="shGenderCD != null and !shGenderCD.equals('')">AND a.genderCD = #{shGenderCD}</if>  -->
       
        <choose>
            <when test="shOption == 1">AND a.roomSeq = #{shValue}</when>
            <when test="shOption == 2">AND a.roomName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND a.roomPrice LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
       </sql>
	
	 <select id="selectList" resultMap="resultMapObj">
       SELECT
        	a.roomSeq,
            a.roomName, 
		    a.roomPrice, 
		    a.roomContent, 
		    a.roominfo, 
		    a.roomTypeCD, 
		    a.tvNy, 
		    a.wifiNy, 
		    a.poolNy, 
		    a.airNy, 
		    a.bathNy, 
		    a.bathSuppliesNy, 
		    a.roomRegDate, 
		    a.roomUpdate, 
		    a.roomDelny, 
		    b.roomSeqF
        	<include refid="selectCommon" />
<!--         limit #{rowNumToShow} offset #{startRnumForMysql} -->
    </select>
    
    <select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
    
    <select id="selectOne" resultMap="resultMapObj">
       SELECT 
    		a.roomSeq,
            a.roomName, 
		    a.roomPrice,
		    a.roomContent, 
		    a.roominfo, 
		    a.roomTypeCD, 
		    a.tvNy, 
		    a.wifiNy, 
		    a.poolNy, 
		    a.airNy, 
		    a.bathNy,
		    a.singleRoomPrice,
		    a.doubleRoomPrice,
		    a.twinRoomPrice,
		    a.bathSuppliesNy,
		    b.cleanRating,
		    b.comfortRating,
		    b.priceRating,
		    b.qualityRating,
		    b.reviewContent,
		    b.roomSeqF,
		    a.hotelList_seq
          ,c.member_seq as memberSeqF
          ,d.memberSeq
          ,c.bookingSeq
		 FROM roomdetail a 
		 LEFT JOIN review b on a.roomSeq= b.reviewSeq
		 LEFT JOIN hotelbooking c on a.roomSeq = c.bookingSeq
		 LEFT JOIN member d on c.member_seq = d.memberSeq
		 WHERE 1=1 
		 AND a.roomSeq =#{roomSeq}
    </select>
    	
    <select id="reviewCount" resultType="Integer">
    SELECT COUNT(*)
    FROM roomdetail a
    LEFT JOIN review b on a.roomSeq = b.roomSeqF
    WHERE 1=1
    AND roomSeqF = #{roomSeq};
	</select>
	
	<insert id="hotelInsert">
		INSERT INTO hotellist(
			hotelName
			,hotelContent
			,hotelTypeCD
			,areaCD
		)VALUES(
			#{hotelName}
			,#{hotelContent}
			,#{hotelTypeCD}
			,#{areaCD}
		)
	
	</insert>
	
	 <insert id="roomInsert">
	 <selectKey resultType ="String" keyProperty="roomSeq" order="AFTER">
		SELECT LAST_INSERT_ID()
		</selectKey>
    	INSERT INTO roomdetail(
    		roomName
    		,roomPrice
    		,hotelList_seq
    	)VALUES(
    		#{roomName}
    		,#{roomPrice}
    		,#{hotelList_seq}
    	)
    
    </insert>
    
    <insert id="imageUpload">
   		INSERT INTO imageloaded(
   			originalName
   			,path
   			,uuidName
   			,ext
   			,size
   			,pseq
   		)VALUES(
   			#{originalName}
   			,#{path}
   			,#{uuidName}
   			,#{ext}
   			,#{size}
   			,#{pseq}
   		)
   	</insert>
    
    <select id="uploadList" resultMap="resultMapObj">
    	SELECT 
    	a.path
    	,a.pseq
    	FROM imageloaded a
    	WHERE 1=1
    	AND a.type = 4
    </select>
    
    <select id="uploadOne" resultMap="resultMapObj">
    	SELECT 
    	a.path
    	,a.pseq
    	FROM imageloaded a
    	WHERE 1=1
    	AND a.pseq=#{roomSeq}
    </select>
    
    <select id="uploadDoble" resultMap="resultMapObj">
    	SELECT 
    	a.path
    	,a.pseq
    	FROM imageloaded a
    	WHERE 1=1
    	AND a.pseq = #{roomSeq}
    	AND a.type = 2
    </select>
    
    <select id="uploadSingle" resultMap="resultMapObj">
    	SELECT 
    	a.path
    	,a.pseq
    	FROM imageloaded a
    	WHERE 1=1
    	AND a.pseq = #{roomSeq}
    	AND a.type = 1
    </select>
    
    <select id="uploadTwin" resultMap="resultMapObj">
    	SELECT 
    	a.path
    	,a.pseq
    	FROM imageloaded a
    	WHERE 1=1
    	AND a.pseq = #{roomSeq}
    	AND a.type = 3
    </select>
    
    <select id="uploadNy" resultMap="resultMapObj">
    	SELECT 
    	a.path
    	,a.pseq
    	FROM imageloaded a
    	WHERE 1=1
    </select>
    
	
</mapper>