<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotelstay.infra.roomdetail.RoomDetailDao">

	<resultMap id="resultMapObj" type="com.hotelstay.infra.roomdetail.RoomDetailDto"></resultMap>
	
	 
	<sql id ="selectCommon">
         FROM roomdetail a
         LEFT JOIN hotellist b on a.roomSeq = b.hotelSeq
        WHERE 1=1
        AND roomSeq=#{roomSeq}
<!--         	<if test="hotelTypeCD != null and !hotelTypeCD.equals('')">AND a.hotelTypeCD = #{hotelTypeCD}</if> -->
<!--         	<if test="areaCD != null and !areaCD.equals('')">AND a.areaCD = #{areaCD}</if>  -->
        	
<!--          <if test="shUseNy != null and !shUseNy.equals('')">AND ifcgUseNy = #{shUseNy}</if> -->
<!--         	<if test="shDelny != null and !shDelny.equals('')">AND a.htDelny = #{shDelny}</if>  -->
        
<!-- 				<choose> -->
<!-- 					<when test="shOptionDate == 1">AND a.htRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when> -->
<!-- 					<when test="shOptionDate == 2">AND a.htUpdate BETWEEN #{shDateStart} AND #{shDateEnd}</when> -->
<!-- 				</choose> -->
			
<!-- 			<if test="shGenderCD != null and !shGenderCD.equals('')">AND a.genderCD = #{shGenderCD}</if>  -->
       
<!--         <choose> -->
<!--             <when test="shOption == 1">AND a.memberSeq = #{shValue}</when> -->
<!--             <when test="shOption == 2">AND a.memberName LIKE CONCAT('%',#{shValue},'%')</when> -->
<!--             <when test="shOption == 3">AND a.birthday LIKE CONCAT('%',#{shValue},'%')</when> -->
<!--             <when test="shOption == 4">AND a.memberID LIKE CONCAT('%',#{shValue},'%')</when> -->
<!--             <when test="shOption == 5">AND a.memberPhone LIKE CONCAT('%',#{shValue},'%')</when> -->
<!--         </choose> -->
       </sql>
	
	 <select id="selectList" resultMap="resultMapObj">
       SELECT
        	a.roomSeq,
            a.roomName, 
		    a.roomPrice, 
		    a.roomContent, 
		    a.roominfo, 
		    a.roomTypeCD, 
		    a.tvNy, 
		    a.wifiNy, 
		    a.poolNy, 
		    a.airNy, 
		    a.bathNy, 
		    a.bathSuppliesNy, 
		    a.roomRegDate, 
		    a.roomUpdate, 
		    a.roomDelny, 
		    a.hotelList_seq
        	<include refid="selectCommon" />
        ORDER BY a.roomSeq DESC
<!--         limit #{rowNumToShow} offset #{startRnumForMysql} -->
    </select>
    
    <select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
    
    <select id="selectOne" resultMap="resultMapObj">
       SELECT 
    		a.roomSeq,
            a.roomName, 
		    a.roomPrice, 
		    a.roomContent, 
		    a.roominfo, 
		    a.roomTypeCD, 
		    a.tvNy, 
		    a.wifiNy, 
		    a.poolNy, 
		    a.airNy, 
		    a.bathNy, 
		    a.bathSuppliesNy,
		    b.memberNickName,
		    b.cleanRating,
		    b.comfortRating,
		    b.priceRating,
		    b.qualityRating,
		    b.reviewContent,
		    a.roomSeq as roomSeqF
		 FROM roomDetail a 
		 LEFT JOIN review b on a.roomSeq= b.reviewSeq
		 WHERE 1=1 
		 AND a.roomSeq =#{roomSeq}
    </select>
    	
    
</mapper>