<!doctype html>
 <html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="~{main/infra/include/head :: head}"></div>
    </head>
    <body data-spy="scroll" data-target=".navbar-collapse">

        <div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <div class="culmn">
            <header id="main_menu" class="header navbar-fixed-top">            
                <div class="main_menu_bg">
                    <div class="container">
                        <div class="row">
                            <div class="nave_menu">
                                <nav class="navbar navbar-default">
                                    <div class="container-fluid">
                                        <!-- Brand and toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                            <a class="navbar-brand" href="#home">
                                                <img src="/main/assets/images/logo.png"/>
                                            </a>
                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->



                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                            <ul class="nav navbar-nav navbar-right">
                                                <li><a href="#home">HOME</a></li>
                                                <li><a href="#history">ABOUT US</a></li>
                                                <li><a href="#portfolio">PORTFOLIO</a></li>
                                                <li><a href="#team">TEAM</a></li>
                                                <li><a href="#blog">BLOG</a></li>
                                                <li><a href="#contact">CONTACT</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>	
                        </div>

                    </div>

                </div>
            </header> <!--End of header -->




            <!--home Section -->
            <section id="home" class="home">
                <div class="overlay">
                    <div class="home_skew_border">
                        <div class="container">
                            <div class="row">
	                                <div class="main_study_area sections">
                            <div class="head_title text-center">
                                <h2>한삼호</h2>
                                <div class="separator"></div>
                            </div>
                            <div class="single_study_content">
                                <div class="col-sm-6">
                                    <div class="single_study_slid_area">

                                        <div class="single_study_text">
                                            <div class="study_slider"> 
                                                <div class="item">
                                                    <div class="s_study_icon">
                                                        <i class="fa fa-lightbulb-o"></i>  
                                                    </div>
                                                    <h4>개발자가 되고 싶은 이유</h4>
                                                    <div class="separator3"></div>
                                                    <p>웹 사이트를 보다가 문뜩 어떻게 만들어졌을까 생각을 하면서 개발 관련된 공부를 하게 되었고 내가 직접 개발을 하면 재미있겠다고 생각이 들어서 개발자가 되고싶었습니다.</p>
                                                    <a href="https://github.com/hansamho" class="btn btn-lg"><i class="fa-brands fa-github"></i>github 바로가기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="single_study_right_img">
                                    <div class="col-sm-6">
                                        <div class="single_study_img">
                                            <img src="/main/assets/images/study.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                        <div class="scrooldown">
                            <a href="#feature"><i class="fa fa-arrow-down"></i></a>
                        </div>
                    </div>
                </div>
            </section><!--End of home section -->


            <!--feature section -->
            <section id="feature" class="feature sections">
                <div class="container">
                    <div class="row">
                        <div class="main_blog sections">
                            <div class="head_title text-center">
                                <h2>개인 프로젝트</h2>
                                <div class="subtitle">
                                    관리자,사용자 프로젝트 
                                </div>
                                <div class="separator"></div>
                            </div><!-- End off Head_title -->

                            <div class="main_blog_content">
                                <div class="col-sm-6">
                                    <div class="single_blog_area textwhite">
                                        <div class="row">
                                            <div class="col-sm-6 no-padding">
                                                <div class="single_blog_img">
                                                    <img src="/main/assets/images/adm.png" alt="" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6 no-padding">
                                                <div class="single_blog_text s_b_left">
                                                    <p>관리자</p>
                                                    <h3>관리자 페이지</h3>
                                                    <div class="separator2"></div>
                                                    <p>코드,공통코드,멤버관리,숙소관리 관리자 페이지 </p>

                                                    <div class="home_btn">
	                                                    <a th:href="@{admLogin}" class="btn btn-default">관리자</a>
	                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="single_blog_area textwhite">
                                        <div class="row">
                                            <div class="col-sm-6 no-padding">
                                                <div class="single_blog_img">
                                                    <img src="/main/assets/images/usr.png" alt="" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6 no-padding">
                                                <div class="single_blog_text s_b_left">
                                                    <p>숙소예약 사이트 </p>
                                                    <h3>여기모여</h3>
                                                    <div class="separator2"></div>
                                                    <p>여행을 좋아하기도 하고 숙소예약을 직접 만들면 재미있겠다 생각을 하면서 숙소예약 사이트를 개발하게 되었습니다. </p>

                                                    <a th:href="@{usrLogin}" class="btn btn-default">사용자</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--End of container -->
            </section><!--End of feature Section -->
            <hr />


            <!-- History section -->
            <section id="history" class="history sections">
                <div class="container">
                    <div class="row">
                        <div class="main_history">
                            <div class="col-sm-6">
                                <div class="single_history_img">
                                    <img src="/main/assets/images/stab1.png" alt="" />
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="single_history_content">
                                    <div class="head_title">
                                        <p>팀 프로젝트</p>
                                        <h2>프로젝트를 하게 된 이유</h2>
                                    </div>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page 
                                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal 
                                        distribution of letters, as opposed to using 'Content here, content here', making it 
                                        look like readable English. Many desktop publishing packages and web page editors now use 
                                        Lorem Ipsum as their default model text, and a search for 'lorem ipsum' </p>

                                    <a href="" class="btn btn-lg">팀 프로젝트</a>
                                </div>
                            </div>
                        </div>
                    </div><!--End of row -->
                </div><!--End of container -->
            </section><!--End of history -->


            <!-- service Section -->
            <section id="service" class="service">
                <div class="container-fluid">
                    <div class="row">
                        <div class="main_service">
                            <div class="col-md-6 col-sm-12 no-padding">

                                <div class="single_service single_service_text text-right">
                                    <div class="head_title">
                                        <h2>OUR SERVICES</h2>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-sm-10 col-xs-10 margin-bottom-60">
                                            <div class="row">

                                                <div class="col-sm-10 col-sm-offset-1 col-xs-9 col-xs-offset-1">
                                                    <article class="single_service_right_text">
                                                        <h4>WEB DESIGN</h4>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                            Lorem Ip sum has been the industry's standard dummy text ever.</p>
                                                    </article>
                                                </div>
                                                <div class="col-sm-1 col-xs-1">
                                                    <figure class="single_service_icon">
                                                        <i class="fa fa-heart"></i>
                                                    </figure><!-- End of figure -->
                                                </div>
                                            </div>
                                        </div><!-- End of col-sm-12 -->

                                        <div class="col-md-12 col-sm-10 col-xs-10 margin-bottom-60">
                                            <div class="row">

                                                <div class="col-sm-10 col-sm-offset-1 col-xs-9 col-xs-offset-1">
                                                    <article class="single_service_right_text">
                                                        <h4>PRINT DESIGN</h4>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                            Lorem Ip sum has been the industry's standard dummy text ever.</p>
                                                    </article>
                                                </div>
                                                <div class="col-sm-1 col-xs-1">
                                                    <figure class="single_service_icon">
                                                        <i class="fa fa-heart"></i>
                                                    </figure><!-- End of figure -->
                                                </div>
                                            </div>
                                        </div><!-- End of col-sm-12 -->

                                        <div class="col-md-12 col-sm-10 col-xs-10 margin-bottom-60">
                                            <div class="row">

                                                <div class="col-sm-10 col-sm-offset-1 col-xs-9 col-xs-offset-1 margin-bottom-20">
                                                    <article class="single_service_right_text">
                                                        <h4>PHOTOGRAPHY</h4>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                            Lorem Ip sum has been the industry's standard dummy text ever.</p>
                                                    </article>
                                                </div>
                                                <div class="col-sm-1 col-xs-1">
                                                    <figure class="single_service_icon">
                                                        <i class="fa fa-heart"></i>
                                                    </figure><!-- End of figure -->
                                                </div>
                                            </div>
                                        </div><!-- End of col-sm-12 -->

                                    </div>
                                </div>
                            </div><!-- End of col-sm-6 -->

                            <div class="col-md-6 col-sm-12 no-padding">
                                <figure class="single_service single_service_img">
                                    <div class="overlay-img"></div>
                                    <img src="/main/assets/images/servicerightimg.jpg" alt="" />
                                </figure><!-- End of figure -->
                            </div><!-- End of col-sm-6 -->

                        </div>
                    </div><!-- End of row -->
                </div><!-- End of Container-fluid -->
            </section><!-- End of service Section -->


            <!--Footer section-->
            <section class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="main_footer">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="flowus">
                                            <a href=""><i class="fa fa-facebook"></i></a>
                                            <a href=""><i class="fa fa-twitter"></i></a>
                                            <a href=""><i class="fa fa-google-plus"></i></a>
                                            <a href=""><i class="fa fa-instagram"></i></a>
                                            <a href=""><i class="fa fa-youtube"></i></a>
                                            <a href=""><i class="fa fa-dribbble"></i></a>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-xs-12">
                                        <div class="copyright_text">
                                            <p class=" wow fadeInRight" data-wow-duration="1s">Made with <i class="fa fa-heart"></i> by <a href="http://bootstrapthemes.co">Bootstrap Themes</a>2016. All Rights Reserved</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End off footer Section-->


        </div>

        <!-- START SCROLL TO TOP  -->

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

        <script src="/main/assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="/main/assets/js/vendor/bootstrap.min.js"></script>

        <script src="/main/assets/js/jquery.magnific-popup.js"></script>
        <script src="/main/assets/js/jquery.mixitup.min.js"></script>
        <script src="/main/assets/js/jquery.easing.1.3.js"></script>
        <script src="/main/assets/js/jquery.masonry.min.js"></script>

        <!--slick slide js -->
        <script src="/main/assets/css/slick/slick.js"></script>
        <script src="/main/assets/css/slick/slick.min.js"></script>


        <script src="/main/assets/js/plugins.js"></script>
        <script src="/main/assets/js/main.js"></script>

    </body>
</html>
