
<!DOCTYPE html>
<html lang="ko"xmlns:th="http://www.thymeleaf.org">

	<head>
		<div th:replace="~{adm/infra/include/head :: head}"></div>
	</head>

	<body>

		<!-- Page wrapper start -->
		<div class="page-wrapper">

			<!-- Page header starts -->
			<div class="page-header">

				<div class="toggle-sidebar" id="toggle-sidebar">
					<i class="bi bi-list"></i>
				</div>

				<!-- Header actions ccontainer start -->
				<div class="header-actions-container">

					<!-- Search container start -->
					<div class="search-container me-4 d-xl-block d-lg-none">

						<!-- Search input group start -->
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search" />
							<button class="btn btn-outline-secondary" type="button">
								<i class="bi bi-search"></i>
							</button>
						</div>
						<!-- Search input group end -->

					</div>
					<!-- Search container end -->

					<!-- Header actions start -->
					<div class="header-actions d-xl-flex d-lg-none gap-4">
						<div class="dropdown">
							<a class="dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="bi bi-chat-text fs-5 lh-1"></i>
								<span class="count-label"></span>
							</a>
							</a>
							<div class="dropdown-menu dropdown-menu-end shadow-lg">
								<div class="dropdown-item">
									<div class="d-flex py-2 border-bottom">
										<img src="/adm/template/gear/assets/images/user.png" class="img-3x me-3 rounded-3" alt="Admin Dashboards" />
										<div class="m-0">
											<h6 class="mb-1 fw-semibold">Araceli Barrera</h6>
											<p class="mb-1">Membership has been ended.</p>
											<p class="small m-0 text-secondary">Today, 07:30pm</p>
										</div>
									</div>
								</div>
								<div class="dropdown-item">
									<div class="d-flex py-2 border-bottom">
										<img src="/adm/template/gear/assets/images/user2.png" class="img-3x me-3 rounded-3" alt="Admin Dashboards" />
										<div class="m-0">
											<h6 class="mb-1 fw-semibold">Hershel Nixon</h6>
											<p class="mb-1">Congratulate, James for new job.</p>
											<p class="small m-0 text-secondary">Today, 08:00pm</p>
										</div>
									</div>
								</div>
								<div class="dropdown-item">
									<div class="d-flex py-2">
										<img src="/adm/template/gear/assets/images/user1.png" class="img-3x me-3 rounded-3" alt="Admin Dashboards" />
										<div class="m-0">
											<h6 class="mb-1 fw-semibold">Lottie Caldwell</h6>
											<p class="mb-1">Lewis added new schedule release.</p>
											<p class="small m-0 text-secondary">Today, 09:30pm</p>
										</div>
									</div>
								</div>
								<div class="d-grid mx-3 my-1">
									<a href="javascript:void(0)" class="btn btn-primary">View all</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Header actions start -->

					<!-- Header profile start -->
					<div class="header-profile d-flex align-items-center">
						<div class="dropdown">
							<a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
								<span class="user-name d-none d-md-block">Roslyn Jackson</span>
								<span class="avatar">
									<img src="/adm/template/gear/assets/images/user4.png" alt="Admin Templates" />
									<span class="status online"></span>
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-end" aria-labelledby="userSettings">
								<div class="header-profile-actions">
									<a href="profile.html">Profile</a>
									<a href="account-settings.html">Settings</a>
									<a href="login.html">Logout</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Header profile end -->

				</div>
				<!-- Header actions ccontainer end -->

			</div>
			<!-- Page header ends -->

			<!-- Main container start -->
			<div class="main-container">

				<!-- Sidebar wrapper start -->
				<nav class="sidebar-wrapper">
					<div th:replace="~{adm/infra/include/nav :: nav}"></div>
				</nav>
				<!-- Sidebar wrapper end -->

				<!-- Content wrapper scroll start -->
				<div class="content-wrapper-scroll">

					<!-- Main header starts -->
					<div class="main-header d-flex align-items-center justify-content-between position-relative">
						<div class="d-flex align-items-center justify-content-center">
							<div class="page-icon">
<!-- 								<i class="bi bi-window-split"></i> -->
							</div>
<!-- 							<div class="page-title d-none d-md-block"> -->
<!-- 								<h5>Tables</h5> -->
<!-- 							</div> -->
						</div>
						<!-- Live updates start -->
						<ul class="updates d-flex align-items-end flex-column overflow-hidden" id="updates">
							<li>
								<a href="javascript:void(0)">
									<i class="bi bi-envelope-paper text-red font-1x me-2"></i>
									<span>12 emails from David Michaiah.</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<i class="bi bi-bar-chart text-blue font-1x me-2"></i>
									<span>15 new features updated successfully.</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<i class="bi bi-folder-check text-yellow font-1x me-2"></i>
									<span>The media folder is created successfully.</span>
								</a>
							</li>
						</ul>
						<!-- Live updates end -->
					</div>
					<!-- Main header ends -->

					<!-- Content wrapper start -->
					<div class="content-wrapper">

					
		
						<!-- Row start -->
						<div class="row gx-3">
							<div class="col-sm-12 col-12">
								<div class="card">
									<div class="card-body">
										<div class="card-header">
											<div class="card-title">코드 관리</div>
										</div>
										<form name="formList" id="formList" method="post" autocomplete="off">
											<div class="row">
											<div class="col-2 gy-2" style="padding-left: 2%;">
												<select id="shDelny" name="shDelny" class="form-select form-select-sm">
													<option value="" th:selected="${vo.shDelny == null}">삭제여부</option>
													<option value="1" th:selected="${vo.shDelny == 1}">Y</option>
													<option value="0" th:selected="${vo.shDelny == 0}">N</option>            
												</select>
											</div>
											<div class="col-2 gy-2">																									
												<select id="shOptionDate" name="shOptionDate" class="form-select form-select-sm">
													<option value="" th:selected="${vo.shOptionDate == null}">날짜</option>
													<option value="1" th:selected="${vo.shOptionDate == 1}">등록일</option>
													<option value="2" th:selected="${vo.shOptionDate == 2}">수정일</option>
												</select>													
											</div>
											<!-- datetimepicker data-->										
											<div class="col-2 gy-2 ">
												<!-- datetimepicker -->
											<input type="text"id="shDateStart" name="shDateStart" th:value="${#strings.substring(vo.shDateStart, 0, 10)}" placeholder="시작일" class="datetimepicker form-control form-control-sm" autocomplete="off">
											</div>              
											<div class="col-2 gy-2">
												<input type="text" id="shDateEnd" name="shDateEnd" th:value="${#strings.substring(vo.shDateEnd, 0, 10)}" placeholder="종료일" class="datetimepicker form-control form-control-sm" autocomplete="off">
											</div>					
										</div>
										
										<div class="row">
											<div class="col-2 gy-2"  style="padding-left: 2%;">
												<select id="shOption" name="shOption" class="form-select form-select-sm">
													<option value="" th:selected="${vo.shOption == null}">검색구분</option>
													<option value="1" th:selected="${vo.shOption == 1}">코드그룹 seq</option>
<!-- 													<option value="2" th:selected="${vo.shOption == 2}">코드그룹 이름</option> -->
													<option value="2" th:selected="${vo.shOption == 2}">코드 seq</option>
													<option value="3" th:selected="${vo.shOption == 3}">코드 이름</option>
												</select>
											</div>
											<div class="col-2 gy-2">
												<input type="text" id="shValue" name="shValue" th:value="${vo.shValue}" onkeyup="enterkey()" placeholder="검색어" class="form-control form-control-sm">
												<div class="invalid-feedback" id="shValueFeedback"></div>
											</div>
											<div class="col-2 gy-2">
												<button type="button" id="btnSearch" class="btn btn-outline-secondary btn-sm btn_custom"><i class="bi bi-search"></i></button>
												<button type="button" id="btnReset" class="btn btn-outline-secondary btn-sm btn_custom"><i class="bi bi-arrow-clockwise"></i></button>
											</div>
										</div>
										
										</form>
										
										<div class="table-responsive">
<!-- 										<div  style="padding-left: 2%;"> -->
<!-- 											<form method="post" action="codeGroupInsert"> -->
<!--   										<input type="text" name="seq" > -->
<!--   										<br><input type="text" name="name"> -->
<!--   										<button type="submit" class="btn btn-primary"><i class="bi bi-plus-square"></i></button> -->
<!--  										 </form> -->
<!-- 										</div> -->
										
											<table class="table align-middle m-0">
												<thead>
													<tr>
														<th>Total</th>
														<th></th>
														<th></th>
														<th></th>
														<th></th>
														<th></th>
														<th>
															<select class="form-select" id="selectTotal">
																<option value="5">5</option>
																<option value="10">10</option>
																<option value="20">20</option>
															</select>
														</th>
													</tr>												
													<tr>
														<th><input type="checkbox" id="checkboxType"></th>
														<th>코드그룹 seq</th>
														<th>코드그룹 이름</th>
														<th>코드 seq</th>
														<th>코드 이름</th>
														<th>코드 등록일</th>
														<th>코드 수정일</th>
														<th>코드 삭제여부</th>
														
													</tr>
												</thead>
												<tbody>
													<tr  th:if="${#lists.isEmpty(List)}" th:each="list : ${list}">
														<td><input type="checkbox" id="checkboxType2"></td>
														<td th:text="${list.codeGroup_seq}"></td>
														<td th:text="${list.codeGroup_name}"></td>
														<td th:text="${list.cdSeq}"></td>
														<td>
															<a th:href="@{/codeView(cdSeq=${list.cdSeq},name=${list.name})}" th:text="${list.name}"></a>
														</td>
														
														<td  th:text="${#dates.format(list.cdRegDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
														<td  th:text="${#dates.format(list.cdUpdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
														<td th:if="${list.cdDelny eq 1}">Y</td>
    													<td th:unless="${list.cdDelny eq 1}">N</td>
													</tr>
												</tbody>
												<tfoot>
													<tr>
														<td colspan="5" class="text-center">
															
														</td>
													</tr>													
												</tfoot>
											</table>
										</div>
										<div class="row">
											<div class="col gy-3">
												<nav aria-label="Page Navigation">
													<ul class="pagination justify-content-center">
														<li class="page-item">
															<a class="page-link" href="#" aria-label="Previous">
																<span aria-hidden="true">
																	<i class="bi bi-arrow-left"></i>
																</span>
															</a>
														</li>
														<li class="page-item active">
															<a class="page-link" href="#">1</a>
														</li>
														<li class="page-item">
															<a class="page-link" href="#">2</a>
														</li>
														<li class="page-item">
															<a class="page-link" href="#">3</a>
														</li>
														<li class="page-item">
															<a class="page-link" href="#">4</a>
														</li>
														<li class="page-item">
															<a class="page-link" href="#">5</a>
														</li>
														<li class="page-item">
															<a class="page-link" href="#">6</a>
														</li>
														<li class="page-item">
															<a class="page-link" href="#">7</a>
														</li>
														<li class="page-item">
															<a class="page-link" href="#" aria-label="Next">
																<span aria-hidden="true">
																	<i class="bi bi-arrow-right"></i>
																</span>
															</a>
														</li>
													</ul>
												</nav>
											</div>
										</div>
							
								<div class="row">
									<div class="col">
													<!-- Button trigger modal -->
										<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: red;">
											<i class="bi bi-trash"></i>
										</button>

										<!-- Modal -->
										<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
											aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">
															삭제
														</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-body">삭제하시겠습니까?</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-primary">
															예
														</button>
														<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
															아니요
														</button>
														
													</div>
												</div>
											</div>
										</div>
									</div>
										<div class="col" align="Right">
  											<button type="submit" class="btn btn-primary"><a th:href="@{codeAdd}" th:text="등록"></a></button>
										</div>
								</div>
								
								</div>
							
								
											
										
									</div>
								</div>
							</div>
							
						<!-- Row end -->

					</div>
					<!-- Content wrapper end -->

				</div>
				<!-- Content wrapper scroll end -->

				<!-- App Footer start -->
				<div class="app-footer">
					<span>© Gear admin 2023</span>
				</div>
				<!-- App footer end -->

			</div>
			<!-- Main container end -->

		</div>
		<!-- Page wrapper end -->

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<!--<script src="/adm/template/gear/assets/js/jquery.min.js"></script> -->
		<script src="/adm/template/gear/assets/js/bootstrap.bundle.min.js"></script>
		<script src="/adm/template/gear/assets/js/modernizr.js"></script>
		<script src="/adm/template/gear/assets/js/moment.js"></script>

		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Overlay Scroll JS -->
		<script src="/adm/template/gear/assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
		<script src="/adm/template/gear/assets/vendor/overlay-scroll/custom-scrollbar.js"></script>

		<!-- News ticker -->
		<script src="/adm/template/gear/assets/vendor/newsticker/newsTicker.min.js"></script>
		<script src="/adm/template/gear/assets/vendor/newsticker/custom-newsTicker.js"></script>

		<!-- Main Js Required -->
		<script src="/adm/template/gear/assets/js/main.js"></script>
		
		<!-- Data Tables -->
		<script src="/adm/template/gear/assets/vendor/datatables/dataTables.min.js"></script>
		
		<script>
		window.addEventListener('load', function() {
			$("#shDateStart, #shDateEnd").datetimepicker({
			timepicker:false,
	 		format: 'Y-m-d'
			  });
			 });
			let goUrlXdmList = "/codeXdmList";								/* ### */
			let goUrlXdmForm = "/codeForm";								/* ### */
			let goUrlXdmMultiUele = "/codeXdmMultiUele";			/* ### */
			let goUrlXdmMultiDele = "/codeXdmMultiDele";			/* ### */
			let goUrlXdmView = "/codeView";								/* ### */
			
			let form = document.querySelector("form[name=formList]");
			let seq = document.querySelector("input[name=cdSeq]");		/* ### */
			
			document.getElementById("btnReset").onclick = function () {
			    location.href = goUrlXdmList;
			}


//	 		document.getElementById("btnForm").onclick = function () {
//	 		    goForm(0);
//	 		}


	 		goForm = function (keyValue) {
	 		    seq.value = keyValue;
	 		    form.action = goUrlXdmForm;
	 		    form.submit();
	 		}
					
			document.getElementById("btnSearch").onclick = function () {
			    form.action = goUrlXdmList;
			    form.submit();
				};
				
				function enterkey() {
					if (window.event.keyCode == 13) {
					    form.action = goUrlXdmList;
					    form.submit();
				    }
				}
		</script>
		
	</body>

</html>
