<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<div class="row  gx-2">
		<div class="col gx-2">
			<strong>Total :</strong>
			<label class="form-label" th:text="${count}"></label>
		</div>
		<div class="col-1 gy-2" align="right">
			<select class="form-select form-select-sm" id="rowNumToShow" name="rowNumToShow"
			th:onchange = "javascript : goList(1)">
				<option value="5" th:selected="${vo.rowNumToShow == 5}">5</option>
				<option value="10" th:selected="${vo.rowNumToShow == 10}">10</option>
				<option value="20" th:selected="${vo.rowNumToShow == 20}">20</option>
			</select>								
		</div>
	</div>
	<div class="table-responsive">
		<table class="table align-middle m-0 ">
			<thead>
				<tr>
					<th><input type="checkbox" id="checkboxType"></th>
					<th>코드그룹 seq</th>
					<th>코드그룹 이름</th>
					<th>등록일</th>
					<th>수정일</th>
					<th>삭제여부</th>
				</tr>
			</thead>
		<tbody>
			<tr  th:if="${#lists.isEmpty(List)}" th:each="list : ${list}">
				<td><input type="checkbox" id="checkboxType2"></td>
				<td th:text="${list.cgSeq}"></td>
				<td>
				<a th:href="@{/codeGroupAdmView(cgSeq=${list.cgSeq},name=${list.name})}" th:text="${list.name}"></a>
				</td>
														
				<td  th:text="${#dates.format(list.cgRegDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
				<td  th:text="${#dates.format(list.cgUpdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
				<td th:if="${list.cgDelny eq 1}">Y</td>
    			<td th:unless="${list.cgDelny eq 1}">N</td>
			</tr>
		</tbody>
	</table>
	</div>
	<!-- 페이징 -->
		<div class="row">
			<div class="col gy-3">
				<!-- paging s  -->				
				<div class="container-fluid px-0 mt-2 mb-2">
					<div class="row">
						<div class="col">
							<ul class="pagination justify-content-center mb-0">
								<li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item" style="cursor: pointer;"><a class="page-link" href="javascript:setLita(${vo.startPage - 1})" th:attr="onclick=|setLita('${vo.startPage - 1}')|"><i class="fa-solid fa-angle-left"></i></a></li>
								<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" th:classappend="${num eq vo.thisPage} ? active : ''" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|setLita('${num}')|" th:text="${num}"><!-- ${i.index} --></a></li>
								<li th:if="${vo.endPage ne vo.totalPages}" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|setLita('${vo.endPage + 1}')|"><i class="fa-solid fa-angle-right"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	
</html>